
<style>
    div {
        width:1000px;
        margin-left:auto;
        margin-right:auto;
    }
    .help_start > li > p:first-child {
        font-size: 20px;
        font-weight: bold;
    }

    .help_start > li > p:last-child {
        line-height: 2em;
    }
</style>
<head>
    <title> 普通用户如何申请成为维修机构 </title>
</head>
<div>
    <ul class="help_start">
        <li>
            <p>1、顶部点击"我是维修机构"</p>
            <img src="/Content/images/SystemInfo/注册_维修机构1.png"/>
        </li>
        <li>
            <p>2、我是维修机构页面，点击申请</p>
            <img src="/Content/images/SystemInfo/注册_维修机构2.png" />
        </li>
        <li>
            <p>3、填写信息</p>
            <img src="/Content/images/SystemInfo/注册_维修机构3.png" />
        </li>
    </ul>
</div>
