
<style>
    div {
        width:1000px;
        margin-left:auto;
        margin-right:auto;
    }
    .help_start > li > p:first-child {
        font-size: 20px;
        font-weight: bold;
    }

    .help_start > li > p:last-child {
        line-height: 2em;
    }
</style>
<head>
    <title> 用户如何注册啄木鸟报修账户 </title>
</head>

<div>
    <ul class="help_start">
        <li>
            <p>1.打开 <a href="www.zmnbx.com" style="text-decoration:underline"> 啄木鸟报修网站 </a> 首页，在页面顶部点击 ‘免费注册’</p>
            <img src="/Content/images/SystemInfo/注册_手机注册1.png" />
        </li>
        <li>
            <p>2.在注册页面填入相关信息，点击同意协议并注册。</p>
            <img src="/Content/images/SystemInfo/注册_手机注册2.png" />
        </li>
        <li>
            <p>3、接收并查看验证码短信，输入验证码完成注册。（手机短信一般会在30秒左右收到，将收到的6位纯数字验证码输入，点击“验证”按钮，完成注册。） </p>
            <img src="/Content/images/SystemInfo/注册_手机注册3.png" />
        </li>
    </ul>
</div>
