@model List<LZY.BX.Model.Category>
@{
    ViewBag.Title = "select_category_control";
    Layout = null;
}
<div class="form-group">
    <label for="categoryId">类目</label>
    <select class="form-control" id="categoryId" name="CategoryId">
        <option></option>
        @{
            foreach (var item in Model)
            {
                if (item.CategoryId == Convert.ToInt64(ViewBag.categoryId))
                {
                    <option selected="selected" value="@item.CategoryId">@item.Name</option>
                }
                else
                {
                    <option value="@item.CategoryId">@item.Name</option>
                }
            }
        }
    </select>
</div>