<style>
    div {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .help_start > li > p:first-child {
        font-size: 20px;
        font-weight: bold;
    }

    .help_start > li > p:last-child {
        line-height: 2em;
    }
</style>
<head>
    <title> 啄木鸟网有哪些登录方式 </title>
</head>

<div>
    <ul class="help_start">
        <li>
            <p>1、点击首页顶部登录按钮</p>
            <img src="/Content/images/SystemInfo/登录_方式1.png" />
        </li>
        <li>
            <p>2、在登录界面登录</p>
            <img src="/Content/images/SystemInfo/登录_方式2.png" />
        </li>
        <li>
            <p>
                在登录界面可以看到，有两类登录方式。
            </p>

            <p>
                一类，可以通过注册用的手机号码进行登录。<br />

                另一类，未曾注册过啄木鸟报修的朋友，可以通过使用第三方账号的方式进行登录，包括QQ、微信。
            </p>

        </li>
    </ul>
</div>

