@using Repair.Web.Site
@model dynamic

@{
    ViewBag.Title = "工单列表";
    ViewBag.title1 = "手工单录入";
    ViewBag.title2 = "手工单录入";
}
<style>
    .mainbo {
        width: 1190px;
        height: 700px;
        margin: 10px auto;
        border: 1px solid #dedede;
        padding: 10px 100px 10px 150px;
        border-radius: 5px;
    }
    .mainbo > p {
        color: rgb(18, 140, 233);
        font-size: 22px;
        font-family: '宋体 ';
        font-weight: bold;
        margin: 25px 0px 15px;
    }
</style>
<form enctype="multipart/form-data" class="form-horizontal mainbo" id="AjaxForm">
    <p>订单信息</p>
    <div class="form-group">
        <label for="deviceName" class="col-sm-2 control-label">设备名称:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="deviceName" name="Name" required>
        </div>
    </div>
     @Html.Action("select_category_control")
     @Html.Action("select_brand_control")
    
    <div class="form-group">
        <label for="photo" class="col-sm-2 control-label">设备使用公司:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="UseCompanyName" name="UseCompanyName" required>
        </div>
    </div>
    <div class="form-group">
        <label for="photo" class="col-sm-2 control-label">联系人:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="Contacts" name="Contacts" required>
        </div>
    </div>
    <div class="form-group">
        <label for="photo" class="col-sm-2 control-label">联系电话:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="ContactsPhone" name="ContactsPhone" required>
        </div>
    </div>
    <div class="form-group">
        <label for="photo" class="col-sm-2 control-label">设备安装地址:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="Address" name="Address" >
        </div>
    </div>
    <div class="form-group">
        <label for="photo" class="col-sm-2 control-label">工单类型:</label>
        <div class="col-sm-6">
            <input type="radio" name="Type" checked="checked" value="1" />需要维修
            <input type="radio" name="Type" value="2">需要保养
            
        </div>
    </div>
    <div class="form-group">
        <label for="photo" class="col-sm-2 control-label">工单级别:</label>
        <div class="col-sm-6">
            <input type="radio" name="Level" checked="checked" value="1" />普通工单
            <input type="radio" name="Level" value="2">加急工单
        </div>
    </div>
    <div class="form-group">
        <label for="photo" class="col-sm-2 control-label">故障描述:</label>
        <div class="col-sm-6">
            <textarea id="Note" name="Note" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="file" class="col-sm-2 control-label">设备故障图片:</label>
        <input type="file" name="imgUrl" id="imgUrl" multiple="multiple" />

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @*<input type="submit" value="提交" style="background-color:aqua;width:440px; height:40px; border:0px" />*@
            <input type="button" value="提交" style="background-color:aqua;width:440px; height:40px; border:0px" onclick="Upload()" />
        </div>
    </div>
</form>


@section scripts
{
    <script type="text/javascript">
        function Upload() {
            if (AjaxSubmitValidate()) {
                var formData = new FormData(document.getElementById("AjaxForm"));
                $.ajax({
                    url: "../Order/OrderWrite",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.ErrCode == 0) {
                            ASuccess("工单已经录入成功");
                            location.href = '../Order/Order';
                        } else {
                            AErrorMsg(res.ErrMsg);
                        }
                    }
                });
            }
        }

        function AjaxSubmitValidate() {
            if ($("#deviceName").val() == "") {
                ShowError("Name", "请输入设备名称");
                $("#deviceName").focus();
                return false;
            }
            if ($("#categoryId").val() == "请选择类目") {
                ShowError("CategoryId", "请选择类目");
                $("#categoryId").focus();
                return false;
            }
            if ($("#brandId").val() == "请选择品牌") {
                ShowError("BrandId", "请选择品牌");
                $("#brandId").focus();
                return false;
            }
            if ($("#Contacts").val() == "") {
                ShowError("Contacts", "请输入联系人");
                $("#Contacts").focus();
                return false;
            }
            if ($("#ContactsPhone").val() == "") {
                ShowError("ContactsPhone", "请输入联系人电话");
                $("#ContactsPhone").focus();
                return false;
            }
            if ($("#Address").val() == "") {
                ShowError("Address", "请输入设备安装地址");
                $("#Address").focus();
                return false;
            }
            if ($("#Note").val() == "") {
                ShowError("Note", "请输入故障描述");
                $("#Note").focus();
                return false;
            }
          
            return true;
        }
    </script>
}
