@{

}
<style>
    .txt_span > p {
        margin: 0 0 40px 60px;
    }

    .txt_span > ul > li {
        margin: 30px 0 10px 10px;
    }

    .img_text > p {
        margin: 10px 0 38px 60px;
    }

    .img_text > ul > li {
        margin: 20px 0 10px 10px;
    }
</style>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <!-- Save for Web Slices (帮助中心-联系客服-移动客服.psd - Slices: 03, 06, 08) -->
    <table border="0" cellpadding="0" cellspacing="20">
        <tr>
            <td style="background-image:url(/Content/images/img/help_service_03.png)  " height="252">
                <div class="txt_span">
                    <p>移动客服</p>
                    <ul>
                        <li>关注微信，不但可以快速联系客服，还可以更便捷的报修</li>
                        <li>服务时间：周一至周日 9:00-23：00</li>
                        <li>
                            温馨提示：有账号或者订单的客户，在咨询前若能提前准备一下账号或订单信息，客户帮助客
                            <br />服更快的定位和解 决问题
                        </li>
                    </ul>
                </div>

            </td>

        </tr>

        <tr>
            <td style="background-image:url(/Content/images/img/help_service_06.png)" width="941" height="252">
                <div class="txt_span">
                    <p>在线人工客服</p>
                    <ul>
                        <li>用户咨询服务时间：周一至周日 9:00-23：00    点此咨询</li>
                        <li>维修机构咨询服务时间：周一至周日 9:00-18：00    点此咨询</li>
                        <li>
                            温馨提示：有账号或者订单的客户，在咨询前若能提前准备一下账号或订单信息，客户帮助客
                            <br />服更快的定位和解 决问题。
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td style="background-image:url(/Content/images/img/help_service_08.png)" width="941" height="252">
                <div class="img_text">
                    <p>用户热线</p>
                    <ul>
                        <li>您可拨打以下电话主动联系我们，亦或是点击右侧预约我们的客服，我们将竭诚为您服务。</li>
                        <li>用户服务热线：0571-56075697 | 服务时间：周一至周日 9:00-23:00</li>
                        <li>维修机构服务热线：0571-56075697 | 服务时间：周一至周日 9:00-23:00</li>
                        <li>
                            温馨提示：有账号或者订单的客户，在咨询前若能提前准备一下账号或订单信息，客户帮助客
                            <br />服更快的定位和解 决问题。
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

    </table>
    <!-- End Save for Web Slices -->
</body>