@{
    ViewBag.Title = "交易评价";
}

<style>
    .helpView {
        border: 1px;
        border-style: solid;
        border-color: #dadada;
        margin-top: 20px;
        height: 500px;
    }
</style>
<div class="helpView">
    <div>
        <h2>交易评价</h2>
    </div>
    <div>
        <ul>
            <li> <a>如何查看评价详情？</a> </li>
            <li> <a>评价对维修机构有什么影响？</a> </li>
            <li> <a>被恶意差评了怎么办（如何举报恶意评价？</a> </li>
            <li> <a>全部好评是否综合评分就能提升？</a> </li>
            <li> <a>交易评价的操作流程？</a> </li>
        </ul>
    </div>

</div>