@{
    ViewBag.Title = "账户安全";
}

<style>
    .helpView {
        border: 1px;
        border-style: solid;
        border-color: #dadada;
        margin-top: 20px;
        height: 500px;
    }
</style>
<div class="helpView">
    <div>
        <h2>账号安全</h2>
    </div>
    <div>
        <ul>
            <li> <a>账户被盗怎么办？</a> </li>
            <li> <a>怎么设置账号登录保护？</a> </li>
            
        </ul>
    </div>

</div>
