@{
    ViewBag.Title = "加入/退出";
}

<style>
    .helpView {
        border: 1px;
        border-style: solid;
        border-color: #dadada;
        margin-top: 20px;
        height: 500px;
    }
</style>
<div class="helpView">
    <div>
        <h2>加入/退出</h2>
    </div>
    <div>
        <ul>
            <li><a>什么要加入用户保障？</a></li>
            <li><a>加入用户保障有什么条件？</a></li>
            <li><a>怎么退出用户保障计划？</a></li>
        </ul>
    </div>

</div>
