@{
    ViewBag.Title = "产品";
}

<style>
    .helpView {
        border: 1px;
        border-style: solid;
        border-color: #dadada;
        margin-top: 20px;
        height: 500px;
    }
</style>
<div class="helpView">
    <div>
        <h2>产品</h2>
    </div>
    <div>
        <ul>
            <li> <a>什么是保证完成？</a> </li>
            <li> <a>什么是保证维护？</a> </li>
            <li> <a>被恶意差评了怎么办（如何举报恶意评价）？</a> </li>
        </ul>
    </div>

</div>
