@{
    ViewBag.Title = "交易中";
}

<style>
    .helpView {
        border: 1px;
        border-style: solid;
        border-color: #dadada;
        margin-top: 20px;
        height: 500px;
    }
</style>
<div class="helpView">
    <div>
        <h2>交易中</h2>
    </div>
    <div>
        <ul>
            <li> <a>交易中出现纠纷怎么办？</a> </li>
            <li> <a>维修机构跟单过程中遇到问题（如联系不上用户）怎么办？</a> </li>
            <li> <a>如何查看用户之前的服务？</a> </li>
            <li> <a>哪里可以看到我的订单（参与的需求、进行中的订单、订单状态）情况？</a> </li>
        </ul>
    </div>

</div>