@{
    ViewBag.Title = "账号绑定";
}

<style>
    .helpView {
        border: 1px;
        border-style: solid;
        border-color: #dadada;
        margin-top: 20px;
        height: 500px;
    }
</style>
<div class="helpView">
    <div>
        <h2>账号注册</h2>
    </div>
    <div>
        <ul>
            <li> <a>哪几种情况无法注册成功？</a> </li>
            <li> <a>注册账号时验证码输入错误怎么办？</a> </li>
            <li> <a>注册啄木鸟报修账户提交信息不成功时怎么办？</a> </li>
            <li> <a>注册啄木鸟报修账户时需要身份验证吗？</a> </li>
            <li> <a>啄木鸟报修网用户名注册后可以修改吗？</a> </li>
            <li> <a>如何使用手机号注册啄木鸟网报修账户？</a> </li>
            <li> <a>在手机上如何注册啄木鸟报修账户？</a> </li>
        </ul>
    </div>

</div>