@{
    ViewBag.Title = "交易前";
}

<style>
    .helpView {
        border: 1px;
        border-style: solid;
        border-color: #dadada;
        margin-top: 20px;
        height: 500px;
    }
</style>
<div class="helpView">
    <div>
        <h2>交易前</h2>
    </div>
    <div>
        <ul>
            <li> <a>如何查看用户之前的服务？</a>             </li>
            <li> <a>维修机构如何在需求市场中查找订单？</a>   </li>
            <li> <a>已接单，为何交易中没有显示？</a>         </li>
            <li> <a>如何发现适合自己的订单？</a>             </li>
        </ul>
    </div>

</div>
