@{
    ViewBag.Title = "账号注册";
}

<style>
    .helpView {
        border: 1px;
        border-style: solid;
        border-color: #dadada;
        margin-top: 20px;
        height: 500px;
    }
</style>
<div class="helpView">
    <div>
        <h2>账号绑定</h2>
    </div>
    <div>
        <ul>
            <li> <a>如何绑定邮箱？</a> </li>
            <li> <a>手机收不到验证码怎么办？</a> </li>
            <li> <a>如何修改认证的电话号码、邮箱？</a> </li>
            <li> <a>如何进行手机绑定？</a> </li>
        </ul>
    </div>

</div>
