@{
    ViewBag.Title = "交易评价";
}

<style>
    .helpView {
        border: 1px;
        border-style: solid;
        border-color: #dadada;
        margin-top: 20px;
        height: 500px;
    }
</style>
<div class="helpView">
    <div>
        <h2>交易评价</h2>
    </div>
    <div>
        <ul>
             
            <li> <a>如何查看评价详情？</a> </li>
            <li> <a>怎么看自己对服务商的评价信息？</a> </li>
</ul>
    </div>

</div>
