@{
    ViewBag.Title = "账号绑定";
}

<style>
    .helpView {
        border: 1px;
        border-style: solid;
        border-color: #dadada;
        margin-top: 20px;
        height: 500px;
    }
</style>
<div class="helpView">
    <div>
        <h2>账号绑定</h2>
    </div>
    <div>
        <ul>
            <li> <a>绑定手机必须是账户本人手机吗？</a> </li>
            <li> <a>绑定的手机号码还可以更换吗，怎么更换绑定的手机号？</a> </li>
            <li> <a>更换手机绑定有限制吗？</a> </li>
            <li> <a>手机接收验证码收费吗？</a> </li>
</ul>
    </div>

</div>
