@{
    ViewBag.Title = "账号安全";
}

<style>
    .helpView {
        border: 1px;
        border-style: solid;
        border-color: #dadada;
        margin-top: 20px;
        height: 500px;
    }
</style>
<div class="helpView">
    <div>
        <h2>账号安全</h2>
    </div>
    <div>
        <ul>
            <li> <a>账号被盗怎么办？</a> </li>
            <li> <a>有什么办法可以提升账号的安全性？</a> </li>
            <li> <a>严重违规能否进行账户开通？</a> </li>
            
        </ul>
    </div>

</div>
