@{
    ViewBag.Title = "交易订单";
}

<style>
    .helpView {
        border: 1px;
        border-style: solid;
        border-color: #dadada;
        margin-top: 20px;
        height: 500px;
    }
</style>
<div class="helpView">
    <div>
        <h2>交易订单</h2>
    </div>
    <div>
        <ul>
            <li> <a>如何查看订单（需求）的状态？</a> </li>
            <li> <a>已接单的订单能否修改？</a> </li>
            

        </ul>
    </div>

</div>
