* {
    border-radius: 0px !important;
}

#daterange {
    width:180px;
}

.buttons, button, .btn {
    margin-bottom: 0px !important;
}

.border-bottom-1 {border-bottom: 1px solid #f8f8f8;}
.border-bottom-2 {border-bottom: 2px solid #f8f8f8;}
.border-bottom-3 {border-bottom: 3px solid #f8f8f8;}
.border-bottom-4 {border-bottom: 4px solid #f8f8f8;}
.border-bottom-5 {border-bottom: 5px solid #f8f8f8;}
.border-bottom-6 {border-bottom: 6px solid #f8f8f8;}
.border-bottom-7 {border-bottom: 7px solid #f8f8f8;}
.border-bottom-8 {border-bottom: 8px solid #f8f8f8;}
.border-bottom-9 {border-bottom: 9px solid #f8f8f8;}
.border-bottom-10 {border-bottom: 10px solid #f8f8f8;}
.border-bottom-11 {border-bottom: 11px solid #f8f8f8;}
.border-bottom-12 {border-bottom: 12px solid #f8f8f8;}
.border-bottom-13 {border-bottom: 13px solid #f8f8f8;}
.border-bottom-14 {border-bottom: 14px solid #f8f8f8;}
.border-bottom-15 {border-bottom: 15px solid #f8f8f8;}
.border-bottom-16 {border-bottom: 16px solid #f8f8f8;}
.border-bottom-17 {border-bottom: 17px solid #f8f8f8;}
.border-bottom-18 {border-bottom: 18px solid #f8f8f8;}
.border-bottom-19 {border-bottom: 19px solid #f8f8f8;}
.border-bottom-20 {border-bottom: 20px solid #f8f8f8;}
.border-bottom-21 {border-bottom: 21px solid #f8f8f8;}
.border-bottom-22 {border-bottom: 22px solid #f8f8f8;}
.border-bottom-23 {border-bottom: 23px solid #f8f8f8;}
.border-bottom-24 {border-bottom: 24px solid #f8f8f8;}
.border-bottom-25 {border-bottom: 25px solid #f8f8f8;}
.border-bottom-26 {border-bottom: 26px solid #f8f8f8;}
.border-bottom-27 {border-bottom: 27px solid #f8f8f8;}
.border-bottom-28 {border-bottom: 28px solid #f8f8f8;}
.border-bottom-29 {border-bottom: 29px solid #f8f8f8;}
.border-bottom-30 {border-bottom: 30px solid #f8f8f8;}
.border-bottom-31 {border-bottom: 31px solid #f8f8f8;}
.border-bottom-32 {border-bottom: 32px solid #f8f8f8;}
.border-bottom-33 {border-bottom: 33px solid #f8f8f8;}
.border-bottom-34 {border-bottom: 34px solid #f8f8f8;}
.border-bottom-35 {border-bottom: 35px solid #f8f8f8;}
.border-bottom-36 {border-bottom: 36px solid #f8f8f8;}
.border-bottom-37 {border-bottom: 37px solid #f8f8f8;}
.border-bottom-38 {border-bottom: 38px solid #f8f8f8;}
.border-bottom-40 {border-bottom: 40px solid #f8f8f8;}
.border-bottom-39 {border-bottom: 39px solid #f8f8f8;}
.border-bottom-41 {border-bottom: 41px solid #f8f8f8;}
.border-bottom-42 {border-bottom: 42px solid #f8f8f8;}
.border-bottom-43 {border-bottom: 43px solid #f8f8f8;}
.border-bottom-44 {border-bottom: 44px solid #f8f8f8;}
.border-bottom-45 {border-bottom: 45px solid #f8f8f8;}
.border-bottom-46 {border-bottom: 46px solid #f8f8f8;}
.border-bottom-47 {border-bottom: 47px solid #f8f8f8;}
.border-bottom-48 {border-bottom: 48px solid #f8f8f8;}
.border-bottom-49 {border-bottom: 49px solid #f8f8f8;}
.border-bottom-50 {border-bottom: 50px solid #f8f8f8;}

.border-top-1 {border-top: 1px solid #f8f8f8;}
.border-top-2 {border-top: 2px solid #f8f8f8;}
.border-top-3 {border-top: 3px solid #f8f8f8;}
.border-top-4 {border-top: 4px solid #f8f8f8;}
.border-top-5 {border-top: 5px solid #f8f8f8;}
.border-top-6 {border-top: 6px solid #f8f8f8;}
.border-top-7 {border-top: 7px solid #f8f8f8;}
.border-top-8 {border-top: 8px solid #f8f8f8;}
.border-top-9 {border-top: 9px solid #f8f8f8;}
.border-top-10 {border-top: 10px solid #f8f8f8;}
.border-top-11 {border-top: 11px solid #f8f8f8;}
.border-top-12 {border-top: 12px solid #f8f8f8;}
.border-top-13 {border-top: 13px solid #f8f8f8;}
.border-top-14 {border-top: 14px solid #f8f8f8;}
.border-top-15 {border-top: 15px solid #f8f8f8;}
.border-top-16 {border-top: 16px solid #f8f8f8;}
.border-top-17 {border-top: 17px solid #f8f8f8;}
.border-top-18 {border-top: 18px solid #f8f8f8;}
.border-top-19 {border-top: 19px solid #f8f8f8;}
.border-top-20 {border-top: 20px solid #f8f8f8;}
.border-top-21 {border-top: 21px solid #f8f8f8;}
.border-top-22 {border-top: 22px solid #f8f8f8;}
.border-top-23 {border-top: 23px solid #f8f8f8;}
.border-top-24 {border-top: 24px solid #f8f8f8;}
.border-top-25 {border-top: 25px solid #f8f8f8;}
.border-top-26 {border-top: 26px solid #f8f8f8;}
.border-top-27 {border-top: 27px solid #f8f8f8;}
.border-top-28 {border-top: 28px solid #f8f8f8;}
.border-top-29 {border-top: 29px solid #f8f8f8;}
.border-top-30 {border-top: 30px solid #f8f8f8;}
.border-top-31 {border-top: 31px solid #f8f8f8;}
.border-top-32 {border-top: 32px solid #f8f8f8;}
.border-top-33 {border-top: 33px solid #f8f8f8;}
.border-top-34 {border-top: 34px solid #f8f8f8;}
.border-top-35 {border-top: 35px solid #f8f8f8;}
.border-top-36 {border-top: 36px solid #f8f8f8;}
.border-top-37 {border-top: 37px solid #f8f8f8;}
.border-top-38 {border-top: 38px solid #f8f8f8;}
.border-top-40 {border-top: 40px solid #f8f8f8;}
.border-top-39 {border-top: 39px solid #f8f8f8;}
.border-top-41 {border-top: 41px solid #f8f8f8;}
.border-top-42 {border-top: 42px solid #f8f8f8;}
.border-top-43 {border-top: 43px solid #f8f8f8;}
.border-top-44 {border-top: 44px solid #f8f8f8;}
.border-top-45 {border-top: 45px solid #f8f8f8;}
.border-top-46 {border-top: 46px solid #f8f8f8;}
.border-top-47 {border-top: 47px solid #f8f8f8;}
.border-top-48 {border-top: 48px solid #f8f8f8;}
.border-top-49 {border-top: 49px solid #f8f8f8;}
.border-top-50 {border-top: 50px solid #f8f8f8;}

.border-left-1 {border-left: 1px solid #f8f8f8;}
.border-left-2 {border-left: 2px solid #f8f8f8;}
.border-left-3 {border-left: 3px solid #f8f8f8;}
.border-left-4 {border-left: 4px solid #f8f8f8;}
.border-left-5 {border-left: 5px solid #f8f8f8;}
.border-left-6 {border-left: 6px solid #f8f8f8;}
.border-left-7 {border-left: 7px solid #f8f8f8;}
.border-left-8 {border-left: 8px solid #f8f8f8;}
.border-left-9 {border-left: 9px solid #f8f8f8;}
.border-left-10 {border-left: 10px solid #f8f8f8;}
.border-left-11 {border-left: 11px solid #f8f8f8;}
.border-left-12 {border-left: 12px solid #f8f8f8;}
.border-left-13 {border-left: 13px solid #f8f8f8;}
.border-left-14 {border-left: 14px solid #f8f8f8;}
.border-left-15 {border-left: 15px solid #f8f8f8;}
.border-left-16 {border-left: 16px solid #f8f8f8;}
.border-left-17 {border-left: 17px solid #f8f8f8;}
.border-left-18 {border-left: 18px solid #f8f8f8;}
.border-left-19 {border-left: 19px solid #f8f8f8;}
.border-left-20 {border-left: 20px solid #f8f8f8;}
.border-left-21 {border-left: 21px solid #f8f8f8;}
.border-left-22 {border-left: 22px solid #f8f8f8;}
.border-left-23 {border-left: 23px solid #f8f8f8;}
.border-left-24 {border-left: 24px solid #f8f8f8;}
.border-left-25 {border-left: 25px solid #f8f8f8;}
.border-left-26 {border-left: 26px solid #f8f8f8;}
.border-left-27 {border-left: 27px solid #f8f8f8;}
.border-left-28 {border-left: 28px solid #f8f8f8;}
.border-left-29 {border-left: 29px solid #f8f8f8;}
.border-left-30 {border-left: 30px solid #f8f8f8;}
.border-left-31 {border-left: 31px solid #f8f8f8;}
.border-left-32 {border-left: 32px solid #f8f8f8;}
.border-left-33 {border-left: 33px solid #f8f8f8;}
.border-left-34 {border-left: 34px solid #f8f8f8;}
.border-left-35 {border-left: 35px solid #f8f8f8;}
.border-left-36 {border-left: 36px solid #f8f8f8;}
.border-left-37 {border-left: 37px solid #f8f8f8;}
.border-left-38 {border-left: 38px solid #f8f8f8;}
.border-left-40 {border-left: 40px solid #f8f8f8;}
.border-left-39 {border-left: 39px solid #f8f8f8;}
.border-left-41 {border-left: 41px solid #f8f8f8;}
.border-left-42 {border-left: 42px solid #f8f8f8;}
.border-left-43 {border-left: 43px solid #f8f8f8;}
.border-left-44 {border-left: 44px solid #f8f8f8;}
.border-left-45 {border-left: 45px solid #f8f8f8;}
.border-left-46 {border-left: 46px solid #f8f8f8;}
.border-left-47 {border-left: 47px solid #f8f8f8;}
.border-left-48 {border-left: 48px solid #f8f8f8;}
.border-left-49 {border-left: 49px solid #f8f8f8;}
.border-left-50 {border-left: 50px solid #f8f8f8;}

.border-right-1 {border-right: 1px solid #f8f8f8;}
.border-right-2 {border-right: 2px solid #f8f8f8;}
.border-right-3 {border-right: 3px solid #f8f8f8;}
.border-right-4 {border-right: 4px solid #f8f8f8;}
.border-right-5 {border-right: 5px solid #f8f8f8;}
.border-right-6 {border-right: 6px solid #f8f8f8;}
.border-right-7 {border-right: 7px solid #f8f8f8;}
.border-right-8 {border-right: 8px solid #f8f8f8;}
.border-right-9 {border-right: 9px solid #f8f8f8;}
.border-right-10 {border-right: 10px solid #f8f8f8;}
.border-right-11 {border-right: 11px solid #f8f8f8;}
.border-right-12 {border-right: 12px solid #f8f8f8;}
.border-right-13 {border-right: 13px solid #f8f8f8;}
.border-right-14 {border-right: 14px solid #f8f8f8;}
.border-right-15 {border-right: 15px solid #f8f8f8;}
.border-right-16 {border-right: 16px solid #f8f8f8;}
.border-right-17 {border-right: 17px solid #f8f8f8;}
.border-right-18 {border-right: 18px solid #f8f8f8;}
.border-right-19 {border-right: 19px solid #f8f8f8;}
.border-right-20 {border-right: 20px solid #f8f8f8;}
.border-right-21 {border-right: 21px solid #f8f8f8;}
.border-right-22 {border-right: 22px solid #f8f8f8;}
.border-right-23 {border-right: 23px solid #f8f8f8;}
.border-right-24 {border-right: 24px solid #f8f8f8;}
.border-right-25 {border-right: 25px solid #f8f8f8;}
.border-right-26 {border-right: 26px solid #f8f8f8;}
.border-right-27 {border-right: 27px solid #f8f8f8;}
.border-right-28 {border-right: 28px solid #f8f8f8;}
.border-right-29 {border-right: 29px solid #f8f8f8;}
.border-right-30 {border-right: 30px solid #f8f8f8;}
.border-right-31 {border-right: 31px solid #f8f8f8;}
.border-right-32 {border-right: 32px solid #f8f8f8;}
.border-right-33 {border-right: 33px solid #f8f8f8;}
.border-right-34 {border-right: 34px solid #f8f8f8;}
.border-right-35 {border-right: 35px solid #f8f8f8;}
.border-right-36 {border-right: 36px solid #f8f8f8;}
.border-right-37 {border-right: 37px solid #f8f8f8;}
.border-right-38 {border-right: 38px solid #f8f8f8;}
.border-right-40 {border-right: 40px solid #f8f8f8;}
.border-right-39 {border-right: 39px solid #f8f8f8;}
.border-right-41 {border-right: 41px solid #f8f8f8;}
.border-right-42 {border-right: 42px solid #f8f8f8;}
.border-right-43 {border-right: 43px solid #f8f8f8;}
.border-right-44 {border-right: 44px solid #f8f8f8;}
.border-right-45 {border-right: 45px solid #f8f8f8;}
.border-right-46 {border-right: 46px solid #f8f8f8;}
.border-right-47 {border-right: 47px solid #f8f8f8;}
.border-right-48 {border-right: 48px solid #f8f8f8;}
.border-right-49 {border-right: 49px solid #f8f8f8;}
.border-right-50 {border-right: 50px solid #f8f8f8;}

.clear-top-1 {border-top: 1px solid transparent;}
.clear-top-2 {border-top: 2px solid transparent;}
.clear-top-3 {border-top: 3px solid transparent;}
.clear-top-4 {border-top: 4px solid transparent;}
.clear-top-5 {border-top: 5px solid transparent;}
.clear-top-6 {border-top: 6px solid transparent;}
.clear-top-7 {border-top: 7px solid transparent;}
.clear-top-8 {border-top: 8px solid transparent;}
.clear-top-9 {border-top: 9px solid transparent;}
.clear-top-10 {border-top: 10px solid transparent;}
.clear-top-11 {border-top: 11px solid transparent;}
.clear-top-12 {border-top: 12px solid transparent;}
.clear-top-13 {border-top: 13px solid transparent;}
.clear-top-14 {border-top: 14px solid transparent;}
.clear-top-15 {border-top: 15px solid transparent;}
.clear-top-16 {border-top: 16px solid transparent;}
.clear-top-17 {border-top: 17px solid transparent;}
.clear-top-18 {border-top: 18px solid transparent;}
.clear-top-19 {border-top: 19px solid transparent;}
.clear-top-20 {border-top: 20px solid transparent;}
.clear-top-21 {border-top: 21px solid transparent;}
.clear-top-22 {border-top: 22px solid transparent;}
.clear-top-23 {border-top: 23px solid transparent;}
.clear-top-24 {border-top: 24px solid transparent;}
.clear-top-25 {border-top: 25px solid transparent;}
.clear-top-26 {border-top: 26px solid transparent;}
.clear-top-27 {border-top: 27px solid transparent;}
.clear-top-28 {border-top: 28px solid transparent;}
.clear-top-29 {border-top: 29px solid transparent;}
.clear-top-30 {border-top: 30px solid transparent;}
.clear-top-31 {border-top: 31px solid transparent;}
.clear-top-32 {border-top: 32px solid transparent;}
.clear-top-33 {border-top: 33px solid transparent;}
.clear-top-34 {border-top: 34px solid transparent;}
.clear-top-35 {border-top: 35px solid transparent;}
.clear-top-36 {border-top: 36px solid transparent;}
.clear-top-37 {border-top: 37px solid transparent;}
.clear-top-38 {border-top: 38px solid transparent;}
.clear-top-39 {border-top: 39px solid transparent;}
.clear-top-40 {border-top: 40px solid transparent;}
.clear-top-41 {border-top: 41px solid transparent;}
.clear-top-42 {border-top: 42px solid transparent;}
.clear-top-43 {border-top: 43px solid transparent;}
.clear-top-44 {border-top: 44px solid transparent;}
.clear-top-45 {border-top: 45px solid transparent;}
.clear-top-46 {border-top: 46px solid transparent;}
.clear-top-47 {border-top: 47px solid transparent;}
.clear-top-48 {border-top: 48px solid transparent;}
.clear-top-49 {border-top: 49px solid transparent;}
.clear-top-50 {border-top: 50px solid transparent;}


.clear-bottom-1 {border-bottom: 1px solid transparent;}
.clear-bottom-2 {border-bottom: 2px solid transparent;}
.clear-bottom-3 {border-bottom: 3px solid transparent;}
.clear-bottom-4 {border-bottom: 4px solid transparent;}
.clear-bottom-5 {border-bottom: 5px solid transparent;}
.clear-bottom-6 {border-bottom: 6px solid transparent;}
.clear-bottom-7 {border-bottom: 7px solid transparent;}
.clear-bottom-8 {border-bottom: 8px solid transparent;}
.clear-bottom-9 {border-bottom: 9px solid transparent;}
.clear-bottom-10 {border-bottom: 10px solid transparent;}
.clear-bottom-11 {border-bottom: 11px solid transparent;}
.clear-bottom-12 {border-bottom: 12px solid transparent;}
.clear-bottom-13 {border-bottom: 13px solid transparent;}
.clear-bottom-14 {border-bottom: 14px solid transparent;}
.clear-bottom-15 {border-bottom: 15px solid transparent;}
.clear-bottom-16 {border-bottom: 16px solid transparent;}
.clear-bottom-17 {border-bottom: 17px solid transparent;}
.clear-bottom-18 {border-bottom: 18px solid transparent;}
.clear-bottom-19 {border-bottom: 19px solid transparent;}
.clear-bottom-20 {border-bottom: 20px solid transparent;}
.clear-bottom-21 {border-bottom: 21px solid transparent;}
.clear-bottom-22 {border-bottom: 22px solid transparent;}
.clear-bottom-23 {border-bottom: 23px solid transparent;}
.clear-bottom-24 {border-bottom: 24px solid transparent;}
.clear-bottom-25 {border-bottom: 25px solid transparent;}
.clear-bottom-26 {border-bottom: 26px solid transparent;}
.clear-bottom-27 {border-bottom: 27px solid transparent;}
.clear-bottom-28 {border-bottom: 28px solid transparent;}
.clear-bottom-29 {border-bottom: 29px solid transparent;}
.clear-bottom-30 {border-bottom: 30px solid transparent;}
.clear-bottom-31 {border-bottom: 31px solid transparent;}
.clear-bottom-32 {border-bottom: 32px solid transparent;}
.clear-bottom-33 {border-bottom: 33px solid transparent;}
.clear-bottom-34 {border-bottom: 34px solid transparent;}
.clear-bottom-35 {border-bottom: 35px solid transparent;}
.clear-bottom-36 {border-bottom: 36px solid transparent;}
.clear-bottom-37 {border-bottom: 37px solid transparent;}
.clear-bottom-38 {border-bottom: 38px solid transparent;}
.clear-bottom-39 {border-bottom: 39px solid transparent;}
.clear-bottom-40 {border-bottom: 40px solid transparent;}
.clear-bottom-41 {border-bottom: 41px solid transparent;}
.clear-bottom-42 {border-bottom: 42px solid transparent;}
.clear-bottom-43 {border-bottom: 43px solid transparent;}
.clear-bottom-44 {border-bottom: 44px solid transparent;}
.clear-bottom-45 {border-bottom: 45px solid transparent;}
.clear-bottom-46 {border-bottom: 46px solid transparent;}
.clear-bottom-47 {border-bottom: 47px solid transparent;}
.clear-bottom-48 {border-bottom: 48px solid transparent;}
.clear-bottom-49 {border-bottom: 49px solid transparent;}
.clear-bottom-50 {border-bottom: 50px solid transparent;}

.clear-right-1 {border-right: 1px solid transparent;}
.clear-right-2 {border-right: 2px solid transparent;}
.clear-right-3 {border-right: 3px solid transparent;}
.clear-right-4 {border-right: 4px solid transparent;}
.clear-right-5 {border-right: 5px solid transparent;}
.clear-right-6 {border-right: 6px solid transparent;}
.clear-right-7 {border-right: 7px solid transparent;}
.clear-right-8 {border-right: 8px solid transparent;}
.clear-right-9 {border-right: 9px solid transparent;}
.clear-right-10 {border-right: 10px solid transparent;}
.clear-right-11 {border-right: 11px solid transparent;}
.clear-right-12 {border-right: 12px solid transparent;}
.clear-right-13 {border-right: 13px solid transparent;}
.clear-right-14 {border-right: 14px solid transparent;}
.clear-right-15 {border-right: 15px solid transparent;}
.clear-right-16 {border-right: 16px solid transparent;}
.clear-right-17 {border-right: 17px solid transparent;}
.clear-right-18 {border-right: 18px solid transparent;}
.clear-right-19 {border-right: 19px solid transparent;}
.clear-right-20 {border-right: 20px solid transparent;}
.clear-right-21 {border-right: 21px solid transparent;}
.clear-right-22 {border-right: 22px solid transparent;}
.clear-right-23 {border-right: 23px solid transparent;}
.clear-right-24 {border-right: 24px solid transparent;}
.clear-right-25 {border-right: 25px solid transparent;}
.clear-right-26 {border-right: 26px solid transparent;}
.clear-right-27 {border-right: 27px solid transparent;}
.clear-right-28 {border-right: 28px solid transparent;}
.clear-right-29 {border-right: 29px solid transparent;}
.clear-right-30 {border-right: 30px solid transparent;}
.clear-right-31 {border-right: 31px solid transparent;}
.clear-right-32 {border-right: 32px solid transparent;}
.clear-right-33 {border-right: 33px solid transparent;}
.clear-right-34 {border-right: 34px solid transparent;}
.clear-right-35 {border-right: 35px solid transparent;}
.clear-right-36 {border-right: 36px solid transparent;}
.clear-right-37 {border-right: 37px solid transparent;}
.clear-right-38 {border-right: 38px solid transparent;}
.clear-right-39 {border-right: 39px solid transparent;}
.clear-right-40 {border-right: 40px solid transparent;}
.clear-right-41 {border-right: 41px solid transparent;}
.clear-right-42 {border-right: 42px solid transparent;}
.clear-right-43 {border-right: 43px solid transparent;}
.clear-right-44 {border-right: 44px solid transparent;}
.clear-right-45 {border-right: 45px solid transparent;}
.clear-right-46 {border-right: 46px solid transparent;}
.clear-right-47 {border-right: 47px solid transparent;}
.clear-right-48 {border-right: 48px solid transparent;}
.clear-right-49 {border-right: 49px solid transparent;}
.clear-right-50 {border-right: 50px solid transparent;}


.clear-left-1 {border-left: 1px solid transparent;}
.clear-left-2 {border-left: 2px solid transparent;}
.clear-left-3 {border-left: 3px solid transparent;}
.clear-left-4 {border-left: 4px solid transparent;}
.clear-left-5 {border-left: 5px solid transparent;}
.clear-left-6 {border-left: 6px solid transparent;}
.clear-left-7 {border-left: 7px solid transparent;}
.clear-left-8 {border-left: 8px solid transparent;}
.clear-left-9 {border-left: 9px solid transparent;}
.clear-left-10 {border-left: 10px solid transparent;}
.clear-left-11 {border-left: 11px solid transparent;}
.clear-left-12 {border-left: 12px solid transparent;}
.clear-left-13 {border-left: 13px solid transparent;}
.clear-left-14 {border-left: 14px solid transparent;}
.clear-left-15 {border-left: 15px solid transparent;}
.clear-left-16 {border-left: 16px solid transparent;}
.clear-left-17 {border-left: 17px solid transparent;}
.clear-left-18 {border-left: 18px solid transparent;}
.clear-left-19 {border-left: 19px solid transparent;}
.clear-left-20 {border-left: 20px solid transparent;}
.clear-left-21 {border-left: 21px solid transparent;}
.clear-left-22 {border-left: 22px solid transparent;}
.clear-left-23 {border-left: 23px solid transparent;}
.clear-left-24 {border-left: 24px solid transparent;}
.clear-left-25 {border-left: 25px solid transparent;}
.clear-left-26 {border-left: 26px solid transparent;}
.clear-left-27 {border-left: 27px solid transparent;}
.clear-left-28 {border-left: 28px solid transparent;}
.clear-left-29 {border-left: 29px solid transparent;}
.clear-left-30 {border-left: 30px solid transparent;}
.clear-left-31 {border-left: 31px solid transparent;}
.clear-left-32 {border-left: 32px solid transparent;}
.clear-left-33 {border-left: 33px solid transparent;}
.clear-left-34 {border-left: 34px solid transparent;}
.clear-left-35 {border-left: 35px solid transparent;}
.clear-left-36 {border-left: 36px solid transparent;}
.clear-left-37 {border-left: 37px solid transparent;}
.clear-left-38 {border-left: 38px solid transparent;}
.clear-left-39 {border-left: 39px solid transparent;}
.clear-left-40 {border-left: 40px solid transparent;}
.clear-left-41 {border-left: 41px solid transparent;}
.clear-left-42 {border-left: 42px solid transparent;}
.clear-left-43 {border-left: 43px solid transparent;}
.clear-left-44 {border-left: 44px solid transparent;}
.clear-left-45 {border-left: 45px solid transparent;}
.clear-left-46 {border-left: 46px solid transparent;}
.clear-left-47 {border-left: 47px solid transparent;}
.clear-left-48 {border-left: 48px solid transparent;}
.clear-left-49 {border-left: 49px solid transparent;}
.clear-left-50 {border-left: 50px solid transparent;}