
@{
    ViewBag.Title = "啄木鸟报修 - 最新动态";
    Layout = "~/Views/Shared/_New.cshtml";
}

@section css{
    <link href="~/Static/styles/News.css" rel="stylesheet" />
}

<div class="public-right">
    <div class="Recent-content">
        <div class="Rencent-description">
            <a class="description-title" href="/News/NewsDetails">浙江大学于2016年10月已成功入驻啄木鸟</a>
            <p class="description-content">浙江大学于2016年10月已成功入驻啄木鸟，成为维修机构的一员</p>
            <div class="description-bottom">
                <div class="bottom-time">
                    <i class="iconfont icon-xinwenfabushijian"></i>
                    <span>2017-06-10</span>
                    <i class="iconfont icon-yueduliang"></i>
                    <span>123</span>
                </div>
            </div>
        </div>
        <img src="~/Static/images/LatestNews-zheda.png" class="description-img" />
    </div>
    <div class="Recent-content">
        <div class="Rencent-description">
            <a class="description-title" href="/News/NewsDetails">杭州联众厨房设备有限公司于2017年6月已成功入驻啄木鸟</a>
            <p class="description-content">杭州联众厨房设备有限公司于2017年6月已成功入驻啄木鸟，成为维修机构的一员某某公司与日前已成功入 驻啄木鸟，委托方成为维修木鸟，成为...</p>
            <div class="description-bottom">
                <div class="bottom-time">
                    <i class="iconfont icon-xinwenfabushijian"></i>
                    <span>2017-06-10</span>
                    <i class="iconfont icon-yueduliang"></i>
                    <span>123</span>
                </div>
            </div>
        </div>
        <img src="~/Static/images/LatestNews-lianzhong.png" class="description-img" />
    </div>
</div>

@section js{
    <script src="~/Static/scripts/view/RecentNews.js"></script>
}

