
@{
    ViewBag.Title = "啄木鸟报修 - 最新动态";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 @section css{
     <link href="~/Static/styles/News.css" rel="stylesheet" />
}
<div class="News-banner"></div>
<div class="position">
    <div class="positionAuto">
        <a class="linkHomepage" href="/Home"><i class="iconfont icon-fangzi"></i></a>
        <i class="iconfont icon-arrow-right"></i>
        <a class="NewsCenter" href="/News/LatestNews">新闻中心</a>
        <i class="iconfont icon-arrow-right"></i>
        <a class="LatestNews" href="/News/NewsDetails">最新动态</a>
    </div>
    
</div>
<div class="NewsDetail-content">
    <div class="NewsDetail-inner">
        <div class="inner-title">
            <p class="title-text">啄木鸟报修已正式上线</p>
            <div class="title-time">
                <i class="iconfont icon-xinwenfabushijian"></i>
                <span>2017-06-10</span>
                <i class="iconfont icon-yueduliang"></i>
                <span>123</span>
            </div>
        </div>
        <div class="inner-introduction">
            <div class="intro-left">
                <div class="left-text">
                    <p><i class="Number01">01</i><span class="firstStage">第一阶段<a>first stage</a></span></p>
                    <p>成为维修机构的一员某某公司与日前已成功入驻啄木鸟，成为维修机构的一员某某公 司与日前已成功入驻啄木鸟，委托方成为维修机构的一员成为维修机构的一员某某公司与日前已成功入驻啄木鸟，成为维修机构的一员某某公 司与日前已成功入驻啄木鸟，委托方成...</p>
                </div>
            </div>
            <div class="intro-right">
                <img class="intro-right-img" src="~/Static/images/NewsDetail-1.png" />
            </div>
        </div>
        <div class="inner-introduction">
            <div class="intro-right">
                <img class="intro-right-img" src="~/Static/images/NewsDetail-2.png" />
            </div>
            <div class="intro-left">
                <div class="left-text">
                    <p><i class="Number01">02</i><span class="firstStage">第二阶段<a>second stage</a></span></p>
                    <p>公司始终注重品牌管理与团队建设，凭借国际化的管理体系，形成了科学的公司架构和 完善的运行网络，以优秀的团队、先进的技术、完善的形成了科学的公司架构和 完善的运行网络，以优秀的团队、先进的技术、完善的形成了科学的公司架构和 完善的运行网络，以优秀的团队、先进的技术、完善的     ...</p>
                </div>
            </div>
        </div>
        <div class="video">
            <img src="~/Static/images/NewsDetails-centerBanner.png" class="vedio-img"/>
        </div>
        <div class="inner-introduction">
            <div class="intro-left">
                <div class="left-text">
                    <p><i class="Number01">03</i><span class="firstStage">第三阶段<a>third stage</a></span></p>
                    <p>成为维修机构的一员某某公司与日前已成功入驻啄木鸟，成为维修机构的一员某某公 司与日前已成功入驻啄木鸟，委托方成为维修机构的一员成为维修机构的一员某某公司与日前已成功入驻啄木鸟，成为维修机构的一员某某公 司与日前已成功入驻啄木鸟，委托方成...</p>
                </div>
            </div>
        </div>
        <div class="intro-bottom">
            <p class="last">上一篇：某某公司已成功加入啄木鸟</p>
            <p>下一篇：啄木鸟保修用户已突破千人</p>
        </div>
    </div>
    
</div>
@section js{
    <script src="~/Static/scripts/view/NewsDetails.js"></script>
}
