<style>
    div {
        width:1000px;
        margin-left:auto;
        margin-right:auto;
    }
    .help_start > li > p:first-child {
        font-size: 20px;
        font-weight: bold;
    }

    .help_start > li > p:last-child {
        line-height: 2em;
    }
</style>
<head>
    <title> 账号登录失败、异常的原因 </title>
</head>

<div>
    <ul class="help_start">
        <li>
            <p>1. 忘记账户名验证码 </p>
            <p>
                首先检查是否输入用户名、验证码错误，包括查看是否打开大小写、尝试交替使用手机号码/昵称登录。<br/>

                如果上述方法都不行，请通过 “重新获取验证码”的方式。
            </p>
        </li>

        <li>
            <p>2. 账户违规被处理</p>
            <p>
                回忆下近期你的账号是否有违规情况，如果有，处罚期满，账号会自动恢复使用。<br/>

                如果想了解详细情况，可以联系官方人员查看具体问题及处理。
            </p>
        </li>
    
    </ul>
</div>
