<div class="service_us">
    <div>
        <p><i class="glyphicon glyphicon-phone"></i>移动客服</p>
        <hr/>
        <ul>
            <li>关注微信，不但可以快速联系客服，还可以更便捷的报修</li>
            <li>服务时间：周一至周日 9:00-23：00</li>
            <li>
                温馨提示：有账号或者订单的客户，在咨询前若能提前准备一下账号或订单信息，客户帮助客
                <br />服更快的定位和解 决问题
            </li>
        </ul>
    </div>
    <div>
        <img src="~/Content/images/img/help_service_03.png"/>
    </div>
</div>
<div class="service_us">
    <div>
        <p>在线人工客服</p>

        <hr />
        <ul>
            <li>用户咨询服务时间：周一至周日 9:00-23：00    </li>
            <li>维修机构咨询服务时间：周一至周日 9:00-18：00   </li>
            <li>
                温馨提示：有账号或者订单的客户，在咨询前若能提前准备一下账号或订单信息，客户帮助客
                <br />服更快的定位和解 决问题。
            </li>
        </ul>
    </div>
    <div>
        <img src="~/Content/images/img/help_service_06.png" />
    </div>
</div>
<div class="service_us">
    <div>
        <p><i class="glyphicon glyphicon-earphone"></i>用户热线</p>
        <hr />
        <ul>
            <li>您可拨打以下电话主动联系我们，亦或是点击右侧预约我们的客服，我们将竭诚为您服务。</li>
            <li>用户服务热线：0571-56075697 | 服务时间：周一至周日 9:00-23:00</li>
            <li>维修机构服务热线：0571-56075697 | 服务时间：周一至周日 9:00-23:00</li>
            <li>
                温馨提示：有账号或者订单的客户，在咨询前若能提前准备一下账号或订单信息，客户帮助客
                <br />服更快的定位和解 决问题。
            </li>
        </ul>
    </div>
    <div>
        <img src="~/Content/images/img/help_service_08.png" />
    </div>
</div>
