@{
    ViewBag.Title = "Service_login_2";
}
<div>
    <p>啄木鸟报修平台账号不能登录怎么办</p><hr />
    <p>
        1.忘记账号<br />
        首先检查出是否输入的用户名，验证码错误；包裹查看是否打开大小写，尝试交替使用手机号/昵称登录。<br />
        如上述方法都不行，请通过“重新获取验证码”的方式。
    </p>
    <p>
        2.账号违规被处理<br />
        回忆下近期账号是否有违规情况，如果有，处罚期满，账号会自动恢复使用<br />
        如果想了解详细情况，可以联系客服查看具体情况及处理。
    </p>
</div>
