<style>
    div {
        width:1000px;
        margin-left:auto;
        margin-right:auto;
    }
    .help_start >li>p:first-child{
        font-size:20px;
        font-weight:bold;
    }

     .help_start >li>p:last-child{
            line-height:2em;
    }

</style>
<head>
    <title> 订单评价问题 </title>
</head>
<div>
    <ul class="help_start">
        <li>
            <p>评价对维修机构有什么影响？</p>
            <p>  一、 用户的主动评价影响着维修机构评分、好评率<br />
                    1、好评率计算规则<br />
                        好评率=所有收到的主动好评个数/所有收到的主动评价总数<br />
                    2、 综合评分计算规则<br />
                        综合评分=所有收到的主动评分(服务态度+工作速度+完成质量的总分数和）/所有主动参与评分的人数/3<br />
                        所以，用户的主动评价直接影响着维修机构评分和好评率。<br />
                  二、用户的主动评价影响着能力值的提升<br />
                    1、基础规则：能力值=交易金额×能力系数<br />
                        交易完成后，获得好评：能力基础系数=1   中评：能力基础系数=0.5  差评：能力基础   系数=0，不累计能力值<br />
                    2、加速规则<br />
                        ① 用户主动好评：成长系数+0.1<br />
                        ② 优质评价：用户主动好评且评价字数大于15字，成长系数+0.1<br />
                  三、雇主的评价影响着店铺排序<br />
                        雇主的主动评价也是店铺排序的重要因素，且权重很大。<br />
            </p>
        </li>
        <li>
            <p>被恶意差评了怎么办（如何举报恶意评价）？</p>
            <p>每个啄木鸟报修交易完成后，有用户和维修机构相互对彼此进行评价的阶段。<br />
               评价展示在啄木鸟报修页面上，有可能影响到后续交易者对你的印象。<br />
               如果你被恶意评价，可以通过举报恶意评价入口，向啄木鸟报修官方举报，官方将调查真相，并给予你公正评价。<br />
            </p>
        </li>
        <li>
            <p>全部好评是否综合评分就能提升？</p>
            <p>
                维修机构的评价与评分，是不同的模块。<br />
                一般说来彼此相关（得好评的服务商普遍评分高），却不一定相同。
            </p>
        </li>
    </ul>
</div>
