
<div class="profile_div">

    <img src="~/Content/images/img/about_profile.png" /><br />
    <div class="profile_text_culture">
        <img src="~/Content/images/img/about_icon_img.png" />
      
            <p>杭州绿中游智能科技有限公司于2013年11月成立，注册资本500万元，自公<br />
            司成立以来，始终专注于智能化、视频监控、门禁道闸等弱电系统集成领域的工作，<br />
            为广大用户提供智能化设备、工程施工、系统维护等完整的智能化系统集成服务。目<br />
            前已在视频监控系统、防盗报警系统、综合布线系统、门禁一卡通系统、背景广播系<br />
            统等领域具备了扎实的技术实力和丰富的集成经验，是一家涉及物联网、智能化系统<br />
            的软硬件开发等领域的高新技术企业。</p>
    </div>
</div>