
<div class="profile_div">
    <img src="~/Content/images/img/about_contactus.png" />
    <div class="contact_us">
        <div>
            <img src="~/Content/images/img/about_img_us.png" />
        </div>
        <div>
            <p>公司名字:杭州绿中游智能科技有限公司</p>
            <p>地址：浙江省杭州市西湖区文一西路公元里9号楼5座2楼</p>
            <p>电话：0571-56075697</p>
            <p>传真：0571-56075698</p>
            <p>邮箱：lzyznkj@163.com</p>
        </div>


    </div>
</div>
