

<div class="publicLeft-content">
    <div class="public-left">
        <p class="publicLeft-middle">帮助中心</p>
        <div class="publicLeft-bottom">
            <div class="publistBottom-lists">
                <i class="iconfont icon-zhucezhanghufuzhi"></i>
                <a href="/Help/HelpReg">用户注册</a>
            </div>

            <div class="publistBottom-lists">
                <i class="iconfont icon-dengluzhanghu"></i>
                <a href="/Help/HelpLogin">账户登录</a>
            </div>

            <div class="publistBottom-lists">
                <i class="iconfont icon-zhanghaoyuanquan"></i>
                <a href="/Help/HelpSafety">账号安全</a>
            </div>

            <div class="publistBottom-lists">
                <i class="iconfont icon-jiaoyiguize"></i>
                <a href="/Help/HelpDeal">交易规则</a>
            </div>

            <div class="publistBottom-lists">
                <i class="iconfont icon-gonglve1"></i>
                <a href="/Help/HelpEvaluate">评价攻略</a>
            </div>

            <div class="publistBottom-lists">
                <i class="iconfont icon-lianxikefu"></i>
                <a href="/Help/HelpContact">联系客服</a>
            </div>

        </div>
    </div>
</div>
