

<div class="publicLeft-content">
    <div class="public-left">
        <p class="publicLeft-middle">新闻中心</p>
        <div class="publicLeft-bottom">
            <div class="publistBottom-lists">
                <i class="iconfont icon-zuixindongtai"></i>
                <a href="/News/LatestNews">最新动态</a>
            </div>

            <div class="publistBottom-lists">
                <i class="iconfont icon-tongzhigonggao"></i>
                <a href="/News/Notice">通知公告</a>
            </div>

            <div class="publistBottom-lists">
                <i class="iconfont icon-meiti"></i>
                <a href="/News/Media">媒体聚焦</a>
            </div>

        </div>
    </div>
</div>
