@{
    ViewBag.Title = "CompanyProfile";
    /*公司简介*/
}
<style>
    .profile_text {
        margin-top:25px;
        margin-left:38px;


        
    }
    .profile_text>p {
      letter-spacing:6px;  
      line-height:2em;
       font-weight:bold;
      font-size:15px;  
    }
 

</style>
<div bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <!-- Save for Web Slices (帮助中心-联系客服-移动客服.psd - Slices: 03, 06, 08) -->
    <table border="0" cellpadding="0" cellspacing="20">
        <tr>
            <td style="background-image:url(/Content/images/img/about_profile.png)  " height="180">
            </td>
        </tr>
        <tr>
            <td style="background-image:url(/Content/images/img/about_icon_profile.png)" width="940" height="300">
                <div class="profile_text">
                    <p>杭州绿中游智能科技有限公司于2013年11月成立，注册资本500万元，自公</p>
                    <p>司成立以来，始终专注于智能化、视频监控、门禁道闸等弱电系统集成领域的工作，</p>
                    <p>为广大用户提供智能化设备、工程施工、系统维护等完整的智能化系统集成服务。目</p>
                    <p>前已在视频监控系统、防盗报警系统、综合布线系统、门禁一卡通系统、背景广播系</p>
                    <p>统等领域具备了扎实的技术实力和丰富的集成经验，是一家涉及物联网、智能化系统</p>
                    <p>的软硬件开发等领域的高新技术企业。</p>
                </div>
            </td>
        </tr>
     </table>
</div>