@{
    ViewBag.Title = "CorporateCulture";
}
<style>
    .profile_text {
        margin-top: 70px;
        margin-left: 40px;
    }

        .profile_text > p {
            letter-spacing: 6px;
            line-height: 2em;
            text-indent:2em; 
            
       font-weight:bold;
            font-size: 15px;
        }
</style>

<div>
    <img src="~/Content/images/img/about_culture.png"/><br />
    <div class="profile_text">
        <img src="~/Content/images/img/about_icon_img.png" />
        <p>公司始终注重品牌管理与团队建设，凭借国际化的管理体系，形成了科学的公<br />
            司架构和完善的运行网络，以优秀的团队、先进的技术、完善的服务为保障，向全<br />
            国各行业各单位提供优质、稳定、创新的智能系统一体化工程服务。</p><br />
        <p>同心协力，务实创新；优质的信誉、卓越的产品、过硬的团队、高品质的服<br />
            务，不追求高价格，但求高质量。始终为用户提供一流的工程质量和性能运行可<br />
            靠的产品。</p><br />
        <p>坚持“合作、创新、高效、职业”的经营理念，以客户为中心，专业提供需求<br />
            解决方案</p><br />
    </div>



</div>
