@{
    ViewBag.Title = "维修百科";
    Layout = "~/Views/Shared/_Layout_Baike.cshtml";
}

@section styles
{
    <link href="~/Content/css/wxbk.css" rel="stylesheet" />
}

<div class="baikeContent">
    <h5>厨房设备</h5>
    <div class="baike_cfsb">
        <div class="baikeLeft baike20">
            <div class="baikeOne">
                <img src="~/Content/images/img/lampblack.png"/>
                <h4>油烟机</h4>
                <p>对它我们有专业的团队</p>
                <a href="baikeInfo">查看更多&nbsp;&gt;</a>
            </div>
            <div class="baikeTwo">
                <div><h6>常见问题</h6> </div>
                <div class="cjwtLeft">
                    <ul>
                        <li>
                            <p>1、抽油烟机的指示灯不亮</p>
                            <span>故障解决办法：抽抽油烟机如果电机 会转，灯不亮的话一般是灯泡烧掉了， 换掉灯泡就可以了。</span>
                        </li>
                        <li>
                            <p>2、抽油烟机排烟效果差</p>
                            <span>故障解决办法：检查下是不是抽抽油烟机安装高度过高了，适当调整高度
一般与灶具间距65cm—75cm。若是出烟口的方向选择不对，前面有异物阻挡;须改变安装位置，避开障碍物。排
烟管道接口有漏气的现象;须对接口进行密封处理。</span>
                        </li>
                        <li>
                            <p>3、电机工作时产生噪声</p>
                            <span>故障解决办法：可能是叶轮安装不到 位，如果安装不到位引起的噪声，可 以重新安装叶轮，即可。也有可能有 异物进入风道，若是，应清除异物，以保证风道清洁。</span>
                        </li>
                    </ul>
                </div>
                <div class="cjwtRight">
                    <h4>维修心得</h4>
                    <ul>
                        <li><a href="baikeTips"><i></i>油烟机接通电源，风机不转运</a></li>
                        <li><a href="baikeTips"><i></i>排油烟机使用中漏油</a></li>
                        <li><a href="baikeTips"><i></i>油烟机漏电</a></li>
                        <li><a href="baikeTips"><i></i>抽油烟机无任何反应</a></li>
                        <li><a href="baikeTips"><i></i>工作时电动机异常发热</a></li>
                        <li><a href="baikeTips"><i></i>抽油烟机脏污严重</a></li>
                        <li><a href="baikeTips"><i></i>抽油烟机影响炊事火源热量 </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="baikeRight baike20">
            <div class="baikeOne">
                <img src="~/Content/images/img/disinfection.png" />
                <h4 style="margin-top:70px;">消毒柜</h4>
                <p>对它我们有专业的团队</p>
                <a href="baikeInfo">查看更多&nbsp;&gt;</a>
            </div>
            <div class="baikeTwo">
                <div><h6>常见问题</h6> </div>
                <div class="cjwtLeft">
                    <ul>
                        <li>
                            <p>1、接通电源任何键都无反应</p>
                            <span>首先要检查是否通电了，有些家庭的 插座板是带有控制开关的，可能是开 关没有开，所以首先要检查消毒柜上 的指示灯是否亮灯。其次有肯能是消毒柜的电源板坏了或者是按键坏了。</span>
                        </li>
                        <li>
                            <p>2、电源接通正常，但选择消毒功能， 蜂鸣器异常报警</p>
                            <span>温度传感器接触不良，导致了开路或 短路，才会发生异常的报警声，只需 要把温度传感器插口重新插拨一下， 有可能是松动导致的，多次尝试后还是不行，需要更换传感器。</span>
                        </li>
                        <li>
                            <p>3、不通电的故障一般是什么情况</p>
                            <span>检查线路或待来电时再用；更换电源 线；更换超温熔断器；更换电源板、 继电器。</span>
                        </li>
                    </ul>
                </div>
                <div class="cjwtRight">
                    <h4>维修心得</h4>
                    <ul>
                        <li><a href="baikeTips"><i></i>消毒完后碗发黄是什么原因？<br/> 不锈钢的餐具消毒后变形怎么回事？  </a></li>
                        <li><a href="baikeTips"><i></i>紫外线泄露如何判断？是否是否 对人体有害？   </a></li>
                        <li><a href="baikeTips"><i></i>消毒柜漏电的原因是什么？</a></li>
                        <li><a href="baikeTips"><i></i>关上门就报警什么原因？</a></li>
                        <li><a href="baikeTips"><i></i>消毒柜功能使用正常，但用了烘 干长时间却不能烘干</a></li>
                        <li><a href="baikeTips"><i></i>高温型电子消毒柜指示灯亮但不 发热</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="baike_cfsb">
            <div class="baikeLeft baike20">
                <div class="baikeOne">
                    <img src="~/Content/images/img/coffee.png" />
                    <h4>咖啡机</h4>
                    <p>对它我们有专业的团队</p>
                    <a href="baikeInfo">查看更多&nbsp;&gt;</a>
                </div>
                <div class="baikeTwo">
                    <div><h6>常见问题</h6> </div>
                    <div class="cjwtLeft">
                        <ul>
                            <li class="coffee">
                                <p>1、没有蒸汽或做出的咖啡不热  </p>
                                <span>可能原因</span><br />
                                <span> 1-1、在一个时间段放出了大量的热水 （不建议使用咖啡机自带的热水功能)<br/>
                                     1-2、咖啡机电源开关没有打开<br/>1-3、没有电源<br/>1-4、其他原因
                                 </span><br />
                                <span>解决方法</span><br />
                                <span>1-5、先停止大量使用热水，10-20分钟后再使用咖啡机<br/>1-6、将咖啡机开关打开,如：从0到1再到2的顺序<br/>1-7、查看机器电源指示灯<br/>1-8、其他原因尽量描述清楚故障问题反映给供应商</span>

                                
                            </li>
                        </ul>
                    </div>
                    <div class="cjwtRight">
                        <h4>维修心得</h4>
                        <ul>
                            <li><a href="baikeTips"><i></i>把手滤网不出咖啡或者冲煮头喷 气、机器发生噪音  </a></li>
                            <li><a href="baikeTips"><i></i>其他原因</a></li>
                            <li><a href="baikeTips"><i></i>常见故障四、蒸汽或热水管在滴水</a></li>
                            <li><a href="baikeTips"><i></i>常见故障五、萃取咖啡时流速太 慢或流速太快  </a></li>
                            <li><a href="baikeTips"><i></i>工作时电动机异常发热</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="baikeRight baike20">
                <div class="baikeOne">
                    <img src="~/Content/images/img/refrigerator.png" />
                    <h4 style="margin-top:90px;">冰箱</h4>
                    <p>对它我们有专业的团队</p>
                    <a href="baikeInfo">查看更多&nbsp;&gt;</a>
                </div>
                <div class="baikeTwo">
                    <div><h6>常见问题</h6> </div>
                    <div class="cjwtLeft">
                        <ul>
                            <li>
                                <p>1、怎么完全不冷</p>
                                <span>1-1.是否停电；<br/>  1-2.冰箱的电源插头是否松脱；<br/> 1-3.家庭的无熔丝电源开关是否跳开 或其它开关的保险丝是否断了 </span>
                            </li>
                            <li>
                                <p>2、冷度不足？</p>
                                <span>2-1.是否放入热食或冰箱门经常开关；<br/> 2-2.冰箱内食品是否过多；<br/>2-3.安装是否有问题、冰箱后面的散 热座是否阻塞</span>
                            </li>
                            <li>
                                <p>3、冰箱外部怎么会结露？</p>
                                <span>冰箱在湿气多的地方使用，外侧有结 露的可能，这并非故障，只要用干布 擦拭并保持周围的通风即可</span>
                            </li>
                        </ul>
                    </div>
                    <div class="cjwtRight">
                        <h4>维修心得</h4>
                        <ul>
                            <li><a href="baikeTips"><i></i>冰箱(柜)停止工作     </a></li>
                            <li><a href="baikeTips"><i></i>压缩机运转不停     </a></li>
                            <li><a href="baikeTips"><i></i>贮藏的食品温度不理想</a></li>
                            <li><a href="baikeTips"><i></i>冷藏室内食物冻结</a></li>
                            <li><a href="baikeTips"><i></i>手触冰箱有(柜)麻手的感觉 </a></li>
                            <li><a href="baikeTips"><i></i>内胆上部和侧面凝露 </a></li>
                            <li><a href="baikeTips"><i></i>内胆上部和侧面凝露  </a></li>
                            <li><a href="baikeTips"><i></i>箱内温度降不下来      </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="baikeContent bgyp">
    <h5>办公设备</h5>
    <div class="baike_cfsb">
        <div class="baikeLeft baike20">
            <div class="baikeOne">
                <img src="~/Content/images/img/projector.png" />
                <h4 style="margin-top:190px;">投影仪</h4>
                <p>对它我们有专业的团队</p>
                <a href="baikeInfo">查看更多&nbsp;&gt;</a>
            </div>
            <div class="baikeTwo">
                <div><h6>常见问题</h6> </div>
                <div class="cjwtLeft">
                    <ul>
                        <li>
                            <p>1、为什么投影机会产生变形失真 现象呢  </p>
                            <span>投影机投影出来的内容变形失真，很 有可能是投影机与投影屏幕之间的位 置没有摆正，要想消除这种变形失真 现象的话，可以调整投影机 </span>
                        </li>
                        <li>
                            <p>2、为什么不能投影整个图像内容呢  </p>
                            <span>不能投影整个图像内容，说明投影机 的显示分辨率有问题，此时你可以重 新调整计算机的分辨率参数以及投影 机的分辨率参数，让它们的 </span>
                        </li>
                    </ul>
                </div>
                <div class="cjwtRight">
                    <h4>维修心得</h4>
                    <ul>
                        <li><a href="baikeTips"><i></i>为什么投影机在接通电源后无任 何反应  </a></li>
                        <li><a href="baikeTips"><i></i>为什么投影机在工作中会突然 关机 </a></li>
                        <li><a href="baikeTips"><i></i>为什么投影画面会出现一片白色 甚至有蓝紫色斑块现象？</a></li>
                        <li><a href="baikeTips"><i></i>为什么投影机在重新更换了电源 线后可以恢复正常工作呢？ </a></li>
                        <li><a href="baikeTips"><i></i>为什么投影机不能将画面投影出 来呢？</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="baikeRight baike20">
            <div class="baikeOne">
                <img src="~/Content/images/img/computer.png" />
                <h4>电脑</h4>
                <p>对它我们有专业的团队</p>
                <a href="baikeInfo">查看更多&nbsp;&gt;</a>
            </div>
            <div class="baikeTwo">
                <div><h6>常见问题</h6> </div>
                <div class="cjwtLeft">
                    <ul>
                        <li>
                            <p>1、主板不启动，开机无显示，有内 存报警声</p>
                            <span>打开机箱，用橡皮仔细地把内存条的 金手指擦干净，把内存条取下来重新 插一下，用热熔胶把内存插槽两边的 缝隙填平，防止在使用过程</span>
                        </li>
                        <li>
                            <p>2、主板不启动，开机无显示，有显 卡报警声</p>
                            <span>打开机箱，把显卡重新插好即可。要 检查AGP插槽内是否有小异物，否则会 使显卡不能插接到位；对于使用语音 报警的主板，应仔细辨</span>
                        </li>
                    </ul>
                </div>
                <div class="cjwtRight">
                    <h4>维修心得</h4>
                    <ul>
                        <li><a href="baikeTips"><i></i>电脑故障时主板不启动，开机 无显示，无报警声    </a></li>
                        <li><a href="baikeTips"><i></i>主板温控失常，导致开机无显示        </a></li>
                        <li><a href="baikeTips"><i></i>电脑频繁死机，在进行CMOS设置 时也会出现死机现象 </a></li>
                        <li><a href="baikeTips"><i></i>CMOS设置不能保存</a></li>
                        <li><a href="baikeTips"><i></i>安装Windows或启动Windows时， 鼠标不可用</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="baikeContent bgyp shsb ">
    <h5>生活设备</h5>
    <div class="baike_cfsb">
        <div class="baikeLeft baike20">
            <div class="baikeOne">
                <img src="~/Content/images/img/conditioning.png" />
                <h4 style="margin-top:120px;">空调</h4>
                <p>对它我们有专业的团队</p>
                <a href="baikeInfo">查看更多&nbsp;&gt;</a>
            </div>
            <div class="baikeTwo">
                <div><h6>常见问题</h6> </div>
                <div class="cjwtLeft">
                    <ul>
                        <li>
                            <p>1、漏水   </p>
                            <span>将窗式空调器重新按正确方法安 </span>
                        </li>
                        <li>
                            <p>2、压缩机长时间运行而不能自停  </p>
                            <span>查出泄漏部位，补漏，将制冷系统重 新抽真空，加入制冷剂等。</span>
                        </li>
                        <li>
                            <p>3、压缩机不能运行 </p>
                            <span>用万用表、电笔遂项检查排除故障。 保险丝坏则更换保险丝，电线断则更 换电线</span>
                        </li>
                        <li>
                            <p>4、风机不能运行 </p>
                            <span>用万用表测量主控开关触点电阻， 电阻太大或为零时，应作修复或更 换处理</span>
                        </li>
                    </ul>
                </div>
                <div class="cjwtRight">
                    <h4>维修心得</h4>
                    <ul>
                        <li><a href="baikeTips"><i></i>不制冷  </a></li>
                        <li><a href="baikeTips"><i></i>制冷效果差  </a></li>
                        <li><a href="baikeTips"><i></i>空调制冷不持续，断断续续</a></li>
                        <li><a href="baikeTips"><i></i>制冷效果差，内机结冰  </a></li>
                        <li><a href="baikeTips"><i></i>空调运行有噪音</a></li>
                        <li><a href="baikeTips"><i></i>制冷效果不好且内机漏水 </a></li>
                        <li><a href="baikeTips"><i></i>一开空调就制热</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="baikeRight baike20">
            <div class="baikeOne">
                <img src="~/Content/images/img/water_heater.png" />
                <h4>热水器</h4>
                <p>对它我们有专业的团队</p>
                <a href="baikeInfo">查看更多&nbsp;&gt;</a>
            </div>
            <div class="baikeTwo">
                <div><h6>常见问题</h6> </div>
                <div class="cjwtLeft">
                    <ul>
                        <li>
                            <p>1、出水量小，引出异声  </p>
                            <span>当出水量小到超出了机器的正常工作 所必须的最小极限量时，机器内部水 温加热到接近沸点，此时水管壁受热 对流作用，发出异常声响。</span>
                        </li>
                        <li>
                            <p>2、出水量小，引起停机  </p>
                            <span>当出水量小到超出了机器的正常工作 所必须的最小极限量时，必然就会使 出水过热，严重的会使智能型机器显 示16故障;普通机器引发</span>
                        </li>
                        <li>
                            <p>3、燃气压力过高，引起点不着火    </p>
                            <span>供气压力高于正常压力的30%,有可能 会造成机器点火不着或不正常燃烧。 原因是由于供气的一次压过高引起机 器内的安全电磁阀背压</span>
                        </li>
                    </ul>
                </div>
                <div class="cjwtRight">
                    <h4>维修心得</h4>
                    <ul>
                        <li><a href="baikeTips"><i></i>水不热    </a></li>
                        <li><a href="baikeTips"><i></i>热水器点燃后冷暖无常         </a></li>
                        <li><a href="baikeTips"><i></i>未加热时不产生漏电,加满水后 产生漏电 </a></li>
                        <li><a href="baikeTips"><i></i>热水器指示灯一直不灭</a></li>
                        <li><a href="baikeTips"><i></i>无保温功能,一直加热下去,直到 跳闸</a></li>
                        <li><a href="baikeT"><i></i>安全阀小孔流出</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="baikeLeft baike20">
            <div class="baikeOne">
                <img src="~/Content/images/img/washing.png" />
                <h4>洗衣机</h4>
                <p>对它我们有专业的团队</p>
                <a href="baikeInfo">查看更多&nbsp;&gt;</a>
            </div>
            <div class="baikeTwo">
                <div><h6>常见问题</h6> </div>
                <div class="cjwtLeft">
                    <ul>
                        <li>
                            <p>1、进水不止   </p>
                            <span>
                                1-1、一般情况为进水阀阀芯卡住，通 电打开后无法复位，导致一直进水， 此情况先更换进水阀;<br />
                                1-2、如果故障未解决，问题出在水位开关，使用时间一长，水位开关可停止进水，引起进水不止。<br />
                                1-3、如果压力管因使用时间一长磨损破裂或压力管于水位开关机外桶气嘴接触不良或脱开引起漏气可导致压力不到，水位开关不动作二误解为水位进水不止。<br />
                                1-4、因使用时间一长，有异物堵住气嘴口，导致压力无法传到压力开关，此时应拧下大螺母，然后拿出内桶，把堵住气嘴的异物取出。
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="cjwtRight">
                    <h4>维修心得</h4>
                    <ul>
                        <li><a href="#"><i></i>不进水   </a></li>
                        <li><a href="#"><i></i>不进水 </a></li>
                        <li><a href="#"><i></i>脱水有杂音</a></li>
                        <li><a href="#"><i></i>不能接通电源 </a></li>
                        <li><a href="#"><i></i>无水状态下，波轮正、反向正常 运转 </a></li>
                        <li><a href="#"><i></i>洗涤单向转 </a></li>
                        <li><a href="#"><i></i>不脱水 </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="baikeRight baike20">
            <div class="baikeOne">
                <img src="~/Content/images/img/TV.png" />
                <h4 style="margin-top:150px;">电视机</h4>
                <p>对它我们有专业的团队</p>
                <a href="baikeInfo">查看更多&nbsp;&gt;</a>
            </div>
            <div class="baikeTwo">
                <div><h6>常见问题</h6> </div>
                <div class="cjwtLeft">
                    <ul>
                        <li>
                            <p>1、LCD屏幕内部有污点  </p>
                            <span>擦拭或更换换保护膜-----拆开屏体 清洗外层偏光片和有机玻璃(用棉球, 纯净水处理)---风筒吹干  </span>
                        </li>
                        <li>
                            <p>2、LCD屏漏光或光线不均</p>
                            <span>重新安装灯管-----调整导光板  </span>
                        </li>
                        <li>
                            <p>3、LCD屏亮点  </p>
                            <span>个或二个大的亮点,可以尝试轻轻用 指尖压亮点,可消失,说明多为此象素 的开关管和电极虚连.小的黑点和灰 点有可能是内部导光板 </span>
                        </li>
                        <li>
                            <p>4、 LCD屏亮度低</p>
                            <span>检查高压板ADJ亮度调节电路------- ---换灯管--------换高压板------- -调整或更换导光板   </span>
                        </li>
                    </ul>
                </div>
                <div class="cjwtRight">
                    <h4>维修心得</h4>
                    <ul>
                        <li><a href="#"><i></i>显示器整机无电 </a></li>
                        <li><a href="#"><i></i>显示屏亮一下就不亮了,但是电源 指示灯绿灯常亮。</a></li>
                        <li><a href="#"><i></i>显示屏黑屏,无背光.电源灯绿灯 常亮。 </a></li>
                        <li><a href="#"><i></i>屏幕亮线,亮带或者是暗线</a></li>
                        <li><a href="#"><i></i>偏色故障</a></li>
                        <li><a href="#"><i></i>花屏或者是白屏</a></li>
                        <li><a href="#"><i></i>通电后不按开关按键即白屏出现 背光,按键后图像可正常显示</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>





