
<div style="height: 241px; background-image: url('../../../Content/images/img/baike_bg.png');" class="clearfix">
    
    <div style="height:241px; margin:0 auto; width:1190px;line-height:241px;">
        <img style="margin-left:140px;" src="~/Content/images/img/baike_01.png" />
    </div>
</div>
