@{
    ViewBag.Title = "啄木鸟报修 故障报修";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="w1190">
        <ul class="menu w270 fl">
            <li>
                <a href="#"><span class="glyphicon glyphicon-chevron-right"></span>厨房设备</a>
                <ul class="submenu">
                    <li><a href="#">抽油烟机</a></li>
                    <li><a href="#">电磁炉</a></li>
                    <li><a href="#">冰箱</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-chevron-right"></span>公共设施</a>
                <ul class="submenu">
                    <li><a href="#">公共设施1</a></li>
                    <li><a href="#">公共设施2</a></li>
                    <li><a href="#">公共设施3</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-chevron-right"></span>办公设备</a>
                <ul class="submenu">
                    <li><a href="#">打印机</a></li>
                    <li><a href="#">复印机</a></li>
                    <li><a href="#">电脑</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-chevron-right"></span>生活电器</a>
                <ul class="submenu">
                    <li><a href="#">电灯</a></li>
                    <li><a href="#">电视机</a></li>
                    <li><a href="#">电脑</a></li>
                </ul>
            </li>
        </ul>
        <div class="fl w645">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Content/images/home/banner01.jpg" alt="first">
                    </div>
                    <div class="item">
                        <img src="~/Content/images/home/banner01.jpg" alt="2">
                    </div>
                    <div class="item">
                        <img src="~/Content/images/home/banner01.jpg" alt="3">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
        <div class="w275 fl">
            <div class="line w273 panel-default">
                <div class="title panel-heading"><h3 class="panel-title">公告</h3></div>
                <ul class="ullist">
                    <li><a href="#">啄木鸟正式上线了啄木鸟正式上线了</a></li>
                    <li><a href="#">啄木鸟正式上线了啄木鸟正式上线了</a></li>
                    <li><a href="#">啄木鸟正式上线了啄木鸟正式上线了</a></li>
                </ul>
            </div>
            <div class="line w273 mt10 panel-default">
                <div class="title panel-heading"><h3 class="panel-title">平台入驻单位</h3></div>
                <ul class="ullist">
                    <li><a href="#">啄木鸟正式上线了啄木鸟正式上线了</a></li>
                    <li><a href="#">啄木鸟正式上线了啄木鸟正式上线了</a></li>
                    <li><a href="#">啄木鸟正式上线了啄木鸟正式上线了</a></li>
                </ul>
            </div>
            <div class="line w273 mt10 panel-default">
                <div class="title panel-heading"><h3 class="panel-title">维修动态</h3></div>
                <ul class="ullist">
                    <li><a href="#">啄木鸟正式上线了啄木鸟正式上线了</a></li>
                    <li><a href="#">啄木鸟正式上线了啄木鸟正式上线了</a></li>
                    <li><a href="#">啄木鸟正式上线了啄木鸟正式上线了</a></li>
                </ul>
            </div>

            
        </div>
    </div>
    <div class="clear"></div>

    <div class="row mt15">
        <div class="col-xs-6">
            <div class="thumbnail bgeee">
                <img data-src="holder.js/170x205" alt="..." src="~/Content/images/home/images_37.jpg">
                <div class="caption">
                    <h3 class="yellow">厨房设备维修</h3>
                    <p>对它，我们采取一对一的方案</p>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">厨房设备</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation"><a href="No/index">油烟机</a></li>
                            <li role="presentation"><a href="No/index">消毒柜</a></li>
                            <li role="presentation"><a href="No/index">净水器</a></li>
                            <li role="presentation"><a href="No/index">洗碗机</a></li>
                            <li role="presentation"><a href="No/index">咖啡机</a></li>
                            <li role="presentation"><a href="No/index">面包机</a></li>
                            <li role="presentation"><a href="No/index">电磁炉</a></li>
                            <li role="presentation"><a href="No/index">电饭煲</a></li>
                            <li role="presentation"><a href="No/index">烘焙机</a></li>
                            <li role="presentation"><a href="No/index">冰箱</a></li>
                            <li role="presentation"><a href="No/index">豆浆机</a></li>
                            <li role="presentation"><a href="No/index">榨汁机</a></li>
                            <li role="presentation"><a href="No/index">蒸蛋机</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="thumbnail bgeee">
                <img class="h206" data-src="holder.js/170x205" alt="..." src="~/Content/images/home/images_40.jpg">
                <div class="caption">
                    <h3 class="orange">寝室设备维修</h3>
                    <p>对它，我们有专业的团队</p>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">公共设施</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation"><a href="No/index">路灯</a></li>
                            <li role="presentation"><a href="No/index">体育场</a></li>
                            <li role="presentation"><a href="No/index">课桌</a></li>
                            <li role="presentation"><a href="No/index">课椅</a></li>
                            <li role="presentation"><a href="No/index">讲桌</a></li>
                            <li role="presentation"><a href="No/index">投影柜</a></li>
                            <li role="presentation"><a href="No/index">门</a></li>
                            <li role="presentation"><a href="No/index">窗户</a></li>
                            <li role="presentation"><a href="No/index">投影仪</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="thumbnail bgeee">
                <img class="h206" data-src="holder.js/170x205" alt="..." src="~/Content/images/home/images_44.jpg">
                <div class="caption">
                    <h3 class="blue">办公设备维修</h3>
                    <p>对它，我们有专业的团队</p>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">办公设备</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation"><a href="No/index">投影仪</a></li>
                            <li role="presentation"><a href="No/index">打印机</a></li>
                            <li role="presentation"><a href="No/index">复印机</a></li>
                            <li role="presentation"><a href="No/index">传真机</a></li>
                            <li role="presentation"><a href="No/index">碎纸机</a></li>
                            <li role="presentation"><a href="No/index">点钞机</a></li>
                            <li role="presentation"><a href="No/index">扫描仪</a></li>
                            <li role="presentation"><a href="No/index">电话机</a></li>
                            <li role="presentation"><a href="No/index">电脑</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="thumbnail bgeee">
                <img class="h206" data-src="holder.js/170x205" alt="..." src="~/Content/images/home/images_46.jpg">
                <div class="caption">
                    <h3 class="red0">生活电器维修</h3>
                    <p>对它，我们有专业的团队</p>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">生活电器</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation"><a href="No/index">电视机</a></li>
                            <li role="presentation"><a href="No/index">冷饮机</a></li>
                            <li role="presentation"><a href="No/index">洗衣机</a></li>
                            <li role="presentation"><a href="No/index">空调</a></li>
                            <li role="presentation"><a href="No/index">热水器</a></li>
                            <li role="presentation"><a href="No/index">收音机</a></li>
                            <li role="presentation"><a href="No/index">照明灯</a></li>
                            <li role="presentation"><a href="No/index">空调</a></li>
                            <li role="presentation"><a href="No/index">插座</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="w1190 mb15"><a href="#"><img src="~/Content/images/home/banner1.jpg"></a></div>
    <div class="across-line w1190 mb15"><h4>合作伙伴</h4></div>
    <div class="w1190 mb30 textc"><img src="~/Content/images/home/friends.jpg"></div>
    <div class="w1190 mb30"><img src="~/Content/images/home/banner2.jpg"></div>
    <div class="w1190 mb30">
        <div class="row">
            <div class="col-xs-4">
                <dl class="dl-horizontal">
                    <dt><img src="~/Content/images/home/better.jpg"></dt>
                    <dd>
                        <h3>优选商家</h3>
                        <p>选择最顶尖的服务商，进行全方位评价，并由专业人士定期考核</p>
                    </dd>
                </dl>
            </div>
            <div class="col-xs-4">
                <dl class="dl-horizontal">
                    <dt><img src="~/Content/images/home/service.jpg"></dt>
                    <dd>
                        <h3>服务规范</h3>
                        <p>选择最顶尖的服务商，进行全方位评价，并由专业人士定期考核</p>
                    </dd>
                </dl>
            </div>
            <div class="col-xs-4">
                <dl class="dl-horizontal">
                    <dt><img src="~/Content/images/home/safe.jpg"></dt>
                    <dd>
                        <h3>交易安全</h3>
                        <p>选择最顶尖的服务商，进行全方位评价，并由专业人士定期考核</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>


