
@{
    ViewBag.Title = "啄木鸟报修 - 类目统计报表";
    Layout = "~/Views/Shared/_CenterLayout.cshtml";
}

@section css{
<link href="~/Static/styles/ServerList.css" rel="stylesheet" />
}
<div id="statistics-time">
    <ul class="statistics-tab">
        <li class="statisticsIcon" onclick="servicePrevious()"><i class="iconfont icon-xiangzuo"></i></li>
        <li class="statistics-selectActive" onclick="serviceTimes(this, selectTime.Type.Day)">日</li>
        <li onclick="serviceTimes(this, selectTime.Type.Week)">周</li>
        <li onclick="serviceTimes(this, selectTime.Type.Month)">月</li>
        <li class="statisticsIcon" onclick="serviceNext()"><i class="iconfont icon-arrow-right"></i></li>
    </ul>
    <div id="timeEcharts"></div>
</div>

@section js{
<script src="~/Static/scripts/view/CategoryReport.js"></script>
}

