
@{
    ViewBag.Title = "帮助中心";
    Layout = "~/Views/Shared/_Other.cshtml";
}


@section css{
    <link href="~/Static/styles/workOrder.css" rel="stylesheet" />
}


<div class="equipmentContent">
    <ul class="helpReg-list">
        <li>
            <p><span>移动客服</span> <i class="iconfont icon-chevron-up"></i></p>

            <ul>
                <li>
                    关注微信，不但可以快速联系客服，还可以更便捷的报修。<br />
                    服务时间：周一至周日 9：00 - 23：00 <br />
                    温馨提示：有账号或者订单的客户，在咨询前若能提前登录一下账号或者订单信息，客户帮助客服更快的定位和解决问题。
                   
                </li>
            </ul>
        </li>
        <li>
            <p><span>在线人工客服</span> <i class="iconfont icon-chevron-up"></i></p>
            <ul>
                <li>
                    用户咨询服务时间：周一至周日 9：00 - 23：00<br>
                    维修机构咨询服务时间： 周一至周日 9：00 - 18：00 <br>
                    温馨提示：有账号或者订单的客户，在咨询前若能提前登录一下账号或者订单信息，客户帮助客服更快的定位和解决问题。
                </li>
            </ul>
        </li>
        <li>
            <p><span>用户热线</span> <i class="iconfont icon-chevron-up"></i></p>
            <ul>
                <li>
                   你可拨打以下电话主动联系我们，亦或是点击右侧预约我们的客服，我们将竭诚为您服务。<br>
                   用户服务热线：0571 - 56075697 | 服务时间： 周一至周日 9：00 - 23：00 <br>
                   维修机构服务热线：0571 - 56075697 | 服务时间： 周一至周日 9：00 - 18：00 <br>
                   温馨提示：有账号或者订单的客户，在咨询前若能提登录一下账号或订单信息，客户帮助客服更快的定位和解决问题。
                </li>
            </ul>
        </li>
    </ul>
</div>


@section js{

    <script src="~/Static/scripts/view/help.js"></script>
}
