* {
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}

input,textarea {      
    -webkit-appearance: none !important;
    -webkit-user-select:auto; /*webkit浏览器*/     
}

* {font-size:12px;}

.border-bottom-1 {border-bottom: 1px solid #d6d6d6;}
.border-bottom-2 {border-bottom: 2px solid #d6d6d6;}
.border-bottom-3 {border-bottom: 3px solid #d6d6d6;}
.border-bottom-4 {border-bottom: 4px solid #d6d6d6;}
.border-bottom-5 {border-bottom: 5px solid #d6d6d6;}
.border-bottom-6 {border-bottom: 6px solid #d6d6d6;}
.border-bottom-7 {border-bottom: 7px solid #d6d6d6;}
.border-bottom-8 {border-bottom: 8px solid #d6d6d6;}
.border-bottom-9 {border-bottom: 9px solid #d6d6d6;}
.border-bottom-10 {border-bottom: 10px solid #d6d6d6;}
.border-bottom-11 {border-bottom: 11px solid #d6d6d6;}
.border-bottom-12 {border-bottom: 12px solid #d6d6d6;}
.border-bottom-13 {border-bottom: 13px solid #d6d6d6;}
.border-bottom-14 {border-bottom: 14px solid #d6d6d6;}
.border-bottom-15 {border-bottom: 15px solid #d6d6d6;}
.border-bottom-16 {border-bottom: 16px solid #d6d6d6;}
.border-bottom-17 {border-bottom: 17px solid #d6d6d6;}
.border-bottom-18 {border-bottom: 18px solid #d6d6d6;}
.border-bottom-19 {border-bottom: 19px solid #d6d6d6;}
.border-bottom-20 {border-bottom: 20px solid #d6d6d6;}

.border-top-1 {border-top: 1px solid #d6d6d6;}
.border-top-2 {border-top: 2px solid #d6d6d6;}
.border-top-3 {border-top: 3px solid #d6d6d6;}
.border-top-4 {border-top: 4px solid #d6d6d6;}
.border-top-5 {border-top: 5px solid #d6d6d6;}
.border-top-6 {border-top: 6px solid #d6d6d6;}
.border-top-7 {border-top: 7px solid #d6d6d6;}
.border-top-8 {border-top: 8px solid #d6d6d6;}
.border-top-9 {border-top: 9px solid #d6d6d6;}
.border-top-10 {border-top: 10px solid #d6d6d6;}
.border-top-11 {border-top: 11px solid #d6d6d6;}
.border-top-12 {border-top: 12px solid #d6d6d6;}
.border-top-13 {border-top: 13px solid #d6d6d6;}
.border-top-14 {border-top: 14px solid #d6d6d6;}
.border-top-15 {border-top: 15px solid #d6d6d6;}
.border-top-16 {border-top: 16px solid #d6d6d6;}
.border-top-17 {border-top: 17px solid #d6d6d6;}
.border-top-18 {border-top: 18px solid #d6d6d6;}
.border-top-19 {border-top: 19px solid #d6d6d6;}
.border-top-20 {border-top: 20px solid #d6d6d6;}

.border-left-1 {border-left: 1px solid #d6d6d6;}
.border-left-2 {border-left: 2px solid #d6d6d6;}
.border-left-3 {border-left: 3px solid #d6d6d6;}
.border-left-4 {border-left: 4px solid #d6d6d6;}
.border-left-5 {border-left: 5px solid #d6d6d6;}
.border-left-6 {border-left: 6px solid #d6d6d6;}
.border-left-7 {border-left: 7px solid #d6d6d6;}
.border-left-8 {border-left: 8px solid #d6d6d6;}
.border-left-9 {border-left: 9px solid #d6d6d6;}
.border-left-10 {border-left: 10px solid #d6d6d6;}
.border-left-11 {border-left: 11px solid #d6d6d6;}
.border-left-12 {border-left: 12px solid #d6d6d6;}
.border-left-13 {border-left: 13px solid #d6d6d6;}
.border-left-14 {border-left: 14px solid #d6d6d6;}
.border-left-15 {border-left: 15px solid #d6d6d6;}
.border-left-16 {border-left: 16px solid #d6d6d6;}
.border-left-17 {border-left: 17px solid #d6d6d6;}
.border-left-18 {border-left: 18px solid #d6d6d6;}
.border-left-19 {border-left: 19px solid #d6d6d6;}
.border-left-20 {border-left: 20px solid #d6d6d6;}

.border-right-1 {border-right: 1px solid #d6d6d6;}
.border-right-2 {border-right: 2px solid #d6d6d6;}
.border-right-3 {border-right: 3px solid #d6d6d6;}
.border-right-4 {border-right: 4px solid #d6d6d6;}
.border-right-5 {border-right: 5px solid #d6d6d6;}
.border-right-6 {border-right: 6px solid #d6d6d6;}
.border-right-7 {border-right: 7px solid #d6d6d6;}
.border-right-8 {border-right: 8px solid #d6d6d6;}
.border-right-9 {border-right: 9px solid #d6d6d6;}
.border-right-10 {border-right: 10px solid #d6d6d6;}
.border-right-11 {border-right: 11px solid #d6d6d6;}
.border-right-12 {border-right: 12px solid #d6d6d6;}
.border-right-13 {border-right: 13px solid #d6d6d6;}
.border-right-14 {border-right: 14px solid #d6d6d6;}
.border-right-15 {border-right: 15px solid #d6d6d6;}
.border-right-16 {border-right: 16px solid #d6d6d6;}
.border-right-17 {border-right: 17px solid #d6d6d6;}
.border-right-18 {border-right: 18px solid #d6d6d6;}
.border-right-19 {border-right: 19px solid #d6d6d6;}
.border-right-20 {border-right: 20px solid #d6d6d6;}

.clear-bottom-1 {border-bottom: 1px solid transparent;}
.clear-bottom-2 {border-bottom: 2px solid transparent;}
.clear-bottom-3 {border-bottom: 3px solid transparent;}
.clear-bottom-4 {border-bottom: 4px solid transparent;}
.clear-bottom-5 {border-bottom: 5px solid transparent;}
.clear-bottom-6 {border-bottom: 6px solid transparent;}
.clear-bottom-7 {border-bottom: 7px solid transparent;}
.clear-bottom-8 {border-bottom: 8px solid transparent;}
.clear-bottom-9 {border-bottom: 9px solid transparent;}
.clear-bottom-10 {border-bottom: 10px solid transparent;}
.clear-bottom-11 {border-bottom: 11px solid transparent;}
.clear-bottom-12 {border-bottom: 12px solid transparent;}
.clear-bottom-13 {border-bottom: 13px solid transparent;}
.clear-bottom-14 {border-bottom: 14px solid transparent;}
.clear-bottom-15 {border-bottom: 15px solid transparent;}
.clear-bottom-16 {border-bottom: 16px solid transparent;}
.clear-bottom-17 {border-bottom: 17px solid transparent;}
.clear-bottom-18 {border-bottom: 18px solid transparent;}
.clear-bottom-19 {border-bottom: 19px solid transparent;}
.clear-bottom-20 {border-bottom: 20px solid transparent;}

.clear-top-1 {border-top: 1px solid transparent;}
.clear-top-2 {border-top: 2px solid transparent;}
.clear-top-3 {border-top: 3px solid transparent;}
.clear-top-4 {border-top: 4px solid transparent;}
.clear-top-5 {border-top: 5px solid transparent;}
.clear-top-6 {border-top: 6px solid transparent;}
.clear-top-7 {border-top: 7px solid transparent;}
.clear-top-8 {border-top: 8px solid transparent;}
.clear-top-9 {border-top: 9px solid transparent;}
.clear-top-10 {border-top: 10px solid transparent;}
.clear-top-11 {border-top: 11px solid transparent;}
.clear-top-12 {border-top: 12px solid transparent;}
.clear-top-13 {border-top: 13px solid transparent;}
.clear-top-14 {border-top: 14px solid transparent;}
.clear-top-15 {border-top: 15px solid transparent;}
.clear-top-16 {border-top: 16px solid transparent;}
.clear-top-17 {border-top: 17px solid transparent;}
.clear-top-18 {border-top: 18px solid transparent;}
.clear-top-19 {border-top: 19px solid transparent;}
.clear-top-20 {border-top: 20px solid transparent;}


.clear-right-1 {border-right: 1px solid transparent;}
.clear-right-2 {border-right: 2px solid transparent;}
.clear-right-3 {border-right: 3px solid transparent;}
.clear-right-4 {border-right: 4px solid transparent;}
.clear-right-5 {border-right: 5px solid transparent;}
.clear-right-6 {border-right: 6px solid transparent;}
.clear-right-7 {border-right: 7px solid transparent;}
.clear-right-8 {border-right: 8px solid transparent;}
.clear-right-9 {border-right: 9px solid transparent;}
.clear-right-10 {border-right: 10px solid transparent;}
.clear-right-11 {border-right: 11px solid transparent;}
.clear-right-12 {border-right: 12px solid transparent;}
.clear-right-13 {border-right: 13px solid transparent;}
.clear-right-14 {border-right: 14px solid transparent;}
.clear-right-15 {border-right: 15px solid transparent;}
.clear-right-16 {border-right: 16px solid transparent;}
.clear-right-17 {border-right: 17px solid transparent;}
.clear-right-18 {border-right: 18px solid transparent;}
.clear-right-19 {border-right: 19px solid transparent;}
.clear-right-20 {border-right: 20px solid transparent;}


.clear-left-1 {border-left: 1px solid transparent;}
.clear-left-2 {border-left: 2px solid transparent;}
.clear-left-3 {border-left: 3px solid transparent;}
.clear-left-4 {border-left: 4px solid transparent;}
.clear-left-5 {border-left: 5px solid transparent;}
.clear-left-6 {border-left: 6px solid transparent;}
.clear-left-7 {border-left: 7px solid transparent;}
.clear-left-8 {border-left: 8px solid transparent;}
.clear-left-9 {border-left: 9px solid transparent;}
.clear-left-10 {border-left: 10px solid transparent;}
.clear-left-11 {border-left: 11px solid transparent;}
.clear-left-12 {border-left: 12px solid transparent;}
.clear-left-13 {border-left: 13px solid transparent;}
.clear-left-14 {border-left: 14px solid transparent;}
.clear-left-15 {border-left: 15px solid transparent;}
.clear-left-16 {border-left: 16px solid transparent;}
.clear-left-17 {border-left: 17px solid transparent;}
.clear-left-18 {border-left: 18px solid transparent;}
.clear-left-19 {border-left: 19px solid transparent;}
.clear-left-20 {border-left: 20px solid transparent;}
.clear-left-21 {border-left: 21px solid transparent;}
.clear-left-22 {border-left: 22px solid transparent;}
.clear-left-23 {border-left: 23px solid transparent;}
.clear-left-24 {border-left: 24px solid transparent;}
.clear-left-25 {border-left: 25px solid transparent;}
.clear-left-26 {border-left: 26px solid transparent;}
.clear-left-27 {border-left: 27px solid transparent;}
.clear-left-28 {border-left: 28px solid transparent;}
.clear-left-29 {border-left: 29px solid transparent;}
.clear-left-30 {border-left: 30px solid transparent;}
.clear-left-31 {border-left: 31px solid transparent;}
.clear-left-32 {border-left: 32px solid transparent;}
.clear-left-33 {border-left: 33px solid transparent;}
.clear-left-34 {border-left: 34px solid transparent;}
.clear-left-35 {border-left: 35px solid transparent;}
.clear-left-36 {border-left: 36px solid transparent;}
.clear-left-37 {border-left: 37px solid transparent;}
.clear-left-38 {border-left: 38px solid transparent;}
.clear-left-39 {border-left: 39px solid transparent;}
.clear-left-40 {border-left: 40px solid transparent;}
.clear-left-41 {border-left: 41px solid transparent;}
.clear-left-42 {border-left: 42px solid transparent;}
.clear-left-43 {border-left: 43px solid transparent;}
.clear-left-44 {border-left: 44px solid transparent;}
.clear-left-45 {border-left: 45px solid transparent;}
.clear-left-46 {border-left: 46px solid transparent;}
.clear-left-47 {border-left: 47px solid transparent;}
.clear-left-48 {border-left: 48px solid transparent;}
.clear-left-49 {border-left: 49px solid transparent;}
.clear-left-50 {border-left: 50px solid transparent;}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {padding:0 !important}

.pleasecall{padding:0 !important; line-height:50px; width:200px;color:#0090ff;}

.lbl-lg {font-size:14px; font-family:'黑体'}
.lbl-lg span { font-size:14px;color:#bdbdbd;}
.lbl-lg * { font-size:14px;}

.state-bgimg-worked {
    background:url('image/worked.png') no-repeat;
    background-size:34px 46px;
    background-position:left top;
}

a:link {text-decoration:none; color:#0090ff}
a:active {text-decoration:none;color:#0090ff}
a:visited {text-decoration:none;color:#0090ff}
a:hover {text-decoration:none;color:#0090ff}

.btn {border: 1px solid transparent;border-radius: 0px !important; height:40px !important;}
.navbar {min-height: 50px !important;}

.img-rounded {border-radius: 3px !important;}
.moreBtn {position:absolute; top:6px; left:0; height:100%;width:100%; font-size:16px; color:white; font-weight:bold; font-family:黑体;}