<style>
    div {
        width:1000px;
        margin-left:auto;
        margin-right:auto;
    }

    .help_start > li > p:first-child {
        font-size: 20px;
        font-weight: bold;
    }

    .help_start > li > p:last-child {
        line-height: 2em;
    }
</style>
<head>
    <title> 交易规则 </title>
</head>
<div>
    <ul class="help_start">
        <li>
            <p>交易中出现纠纷怎么办？</p>
            <p>
                维修机构与用户在交易过程中发生纠纷，双方应尽量按照之前签订的交易协议处理。<br />
                如果协商不下，任何一方都可以在订单中发起维权举报，<br />
                举报会转到啄木鸟报修纠纷处理大厅，官方工作人员会介入仲裁处理。<br />
            </p>
        </li>
        <li>
            <p>哪里可以看到我的订单（参与的需求、进行中订单、订单状态）情况？</p>
            <p>
                <img src="~/Content/images/ico/ico_jiaoyi_1.png" />
            </p>
        </li>
        <li>
            <p>维修机构跟单过程中遇到问题（如联系不上用户）怎么办？</p>
            <p>
                <img src="~/Content/images/ico/ico_jiaoyi_2.png" />
            </p>
        </li>
    </ul>
</div>
